<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Detalle Api ANDES</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Detalle Api ANDES</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/09d1cfc4.png" alt="Detalle Api ANDES" usemap="#09d1cfc4map"/>
			   <map name="09d1cfc4map">
				          <area shape="rect" coords="1364,524,1734,684" href="../objects/4cfe8cb2.html" target="element" >
				          <area shape="rect" coords="1364,980,1726,1052" href="../objects/2c7ee38b.html" target="element" >
				  		<area shape="rect" coords="1772,68,2110,1414" href="../elements/ee603c4a.html"  target="element">
				  		        <area shape="rect" coords="332,812,598,928" href="../objects/50810357.html" target="element" >
				  		        <area shape="rect" coords="308,620,622,700" href="../objects/b8395444.html" target="element" >
				  				<area shape="rect" coords="44,884,284,994" href="../elements/4f2e7148.html"  target="element">
				  				<area shape="rect" coords="44,644,284,754" href="../elements/fdb7a77c.html"  target="element">
				  				        <area shape="rect" coords="1124,332,1318,428" href="../objects/df73bee5.html" target="element" >
				  								        <area shape="rect" coords="836,668,1102,760" href="../objects/ea86ef3a.html" target="element" >
				  										<area shape="rect" coords="812,854,1052,964" href="../elements/b0340abf.html"  target="element">

				  								<area shape="rect" coords="692,572,1222,1270" href="../elements/3d9f2607.html"  target="element">

				  						<area shape="rect" coords="620,500,1270,1294" href="../elements/2895cf41.html"  target="element">
				  						<area shape="rect" coords="1004,212,1244,322" href="../elements/79ca058e.html"  target="element">

				  				<area shape="rect" coords="572,116,1342,1342" href="../elements/0e909b2e.html"  target="element">

				          <area shape="rect" coords="20,20,1510,1390" href="../objects/0817afde.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/0817afde.html" target="element"> Red Interna FNA </a> </td>
									           <td> <a href="../objects/0817afde.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/0e909b2e.html" target="element"> PC-Servidor </a> </td>
													    <td> <a href="../elements/0e909b2e.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/79ca058e.html" target="element"> Firmas Digitales  </a> </td>
															    <td> <a href="../elements/79ca058e.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/2895cf41.html" target="element"> Aplicacion Java </a> </td>
															    <td> <a href="../elements/2895cf41.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/3d9f2607.html" target="element"> API Andes </a> </td>
																	    <td> <a href="../elements/3d9f2607.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/b0340abf.html" target="element"> Firma Documentos  </a> </td>
																			    <td> <a href="../elements/b0340abf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
																			</tr>

																	        <tr>
																	           <td> <a href="../objects/ea86ef3a.html" target="element">  </a> </td>
																	           <td> <a href="../objects/ea86ef3a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
																	        </tr>

																	
															
													        <tr>
													           <td> <a href="../objects/df73bee5.html" target="element">  </a> </td>
													           <td> <a href="../objects/df73bee5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/fdb7a77c.html" target="element"> Documentos PDF </a> </td>
													    <td> <a href="../elements/fdb7a77c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4f2e7148.html" target="element"> Documentos PDF Firmados </a> </td>
													    <td> <a href="../elements/4f2e7148.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/b8395444.html" target="element">  </a> </td>
											           <td> <a href="../objects/b8395444.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/50810357.html" target="element">  </a> </td>
											           <td> <a href="../objects/50810357.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/ee603c4a.html" target="element"> PKI ANDES </a> </td>
											    <td> <a href="../elements/ee603c4a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/2c7ee38b.html" target="element">  </a> </td>
									           <td> <a href="../objects/2c7ee38b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/4cfe8cb2.html" target="element">  </a> </td>
									           <td> <a href="../objects/4cfe8cb2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																							<tr>
																								<td> <a href="../elements/bbeae532.html" target="element">  </a> </td>
																								<td> <a href="../elements/bbeae532.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																								<td> <a href="../elements/3d9f2607.html" target="element"> API Andes </a> </td>
																								<td> <a href="../elements/79ca058e.html" target="element"> Firmas Digitales  </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/203248e1.html" target="element">  </a> </td>
																								<td> <a href="../elements/203248e1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																								<td> <a href="../elements/3d9f2607.html" target="element"> API Andes </a> </td>
																								<td> <a href="../elements/fdb7a77c.html" target="element"> Documentos PDF </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/80d2158e.html" target="element">  </a> </td>
																								<td> <a href="../elements/80d2158e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/3d9f2607.html" target="element"> API Andes </a> </td>
																								<td> <a href="../elements/ee603c4a.html" target="element"> PKI ANDES </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/80d2158e.html" target="element">  </a> </td>
																								<td> <a href="../elements/80d2158e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/3d9f2607.html" target="element"> API Andes </a> </td>
																								<td> <a href="../elements/ee603c4a.html" target="element"> PKI ANDES </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/a7968b8e.html" target="element">  </a> </td>
																								<td> <a href="../elements/a7968b8e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																								<td> <a href="../elements/3d9f2607.html" target="element"> API Andes </a> </td>
																								<td> <a href="../elements/4f2e7148.html" target="element"> Documentos PDF Firmados </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/e7dd48a1.html" target="element">  </a> </td>
																								<td> <a href="../elements/e7dd48a1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																								<td> <a href="../elements/3d9f2607.html" target="element"> API Andes </a> </td>
																								<td> <a href="../elements/b0340abf.html" target="element"> Firma Documentos  </a> </td>
																							</tr>

																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>