<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Detalle Ambiente Ofuscado Certificacion v2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Detalle Ambiente Ofuscado Certificacion v2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1621b5c9.png" alt="Arquitectura Detalle Ambiente Ofuscado Certificacion v2" usemap="#1621b5c9map"/>
			   <map name="1621b5c9map">
				          <area shape="rect" coords="424,530,718,622" href="../objects/217fb4cf.html" target="element" >
				          <area shape="rect" coords="2348,404,2518,452" href="../objects/6612c90c.html" target="element" >
				          <area shape="rect" coords="2312,690,2554,738" href="../objects/189ae4b7.html" target="element" >
				          <area shape="rect" coords="452,716,704,784" href="../objects/fd63ec61.html" target="element" >
				          <area shape="rect" coords="424,428,718,520" href="../objects/9bf5f56f.html" target="element" >
				          <area shape="rect" coords="1452,676,1534,750" href="../objects/22b15da2.html" target="element" >
				  						<area shape="rect" coords="2684,284,2924,394" href="../elements/94aa5678.html"  target="element">

				  				<area shape="rect" coords="2612,212,2950,430" href="../elements/f8a253c1.html"  target="element">

				  		<area shape="rect" coords="2564,116,2998,454" href="../elements/ef2e9a6c.html"  target="element">
				  				<area shape="rect" coords="2684,788,2924,958" href="../elements/68b57437.html"  target="element">

				  		<area shape="rect" coords="2564,668,2998,1006" href="../elements/907c4cb6.html"  target="element">
				  				        <area shape="rect" coords="812,620,1064,688" href="../objects/7192e87f.html" target="element" >
				  						<area shape="rect" coords="788,458,1030,556" href="../elements/551b73b2.html"  target="element">
				  								<area shape="rect" coords="1100,692,1342,814" href="../elements/5951e8f4.html"  target="element">
				  								<area shape="rect" coords="1102,572,1342,682" href="../elements/6d8b257b.html"  target="element">

				  						<area shape="rect" coords="1052,452,1366,838" href="../elements/29766ae5.html"  target="element">

				  				<area shape="rect" coords="764,356,1414,862" href="../elements/cac3dc50.html"  target="element">

				          <area shape="rect" coords="740,20,1438,1318" href="../objects/2c97cbc0.html" target="element" >
				  				<area shape="rect" coords="44,524,284,634" href="../elements/d7d0b01f.html"  target="element">

				  		<area shape="rect" coords="20,380,378,764" href="../elements/d6547907.html"  target="element">
				  						<area shape="rect" coords="2636,1148,2876,1258" href="../elements/4972230a.html"  target="element">

				  				<area shape="rect" coords="2588,1052,2958,1294" href="../elements/e1720341.html"  target="element">
				  								<area shape="rect" coords="1748,716,2132,814" href="../elements/ceb92041.html"  target="element">
				  								<area shape="rect" coords="1748,572,2132,670" href="../elements/5856faef.html"  target="element">

				  						<area shape="rect" coords="1652,500,2180,838" href="../elements/104b6bad.html"  target="element">

				  				<area shape="rect" coords="1604,404,2302,886" href="../elements/c7f37c77.html"  target="element">

				          <area shape="rect" coords="1532,20,3116,1318" href="../objects/e8486136.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/e8486136.html" target="element"> Red Interna FNA </a> </td>
									           <td> <a href="../objects/e8486136.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/c7f37c77.html" target="element"> FNABOGCWMBP (172.16.123.105) </a> </td>
													    <td> <a href="../elements/c7f37c77.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/104b6bad.html" target="element"> ESB - IBM Interno Certificaci&#243;n </a> </td>
															    <td> <a href="../elements/104b6bad.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/5856faef.html" target="element"> Adaptadores Integraci&#243;n Certificaci&#243;n </a> </td>
																	    <td> <a href="../elements/5856faef.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/ceb92041.html" target="element"> Adaptadores Tecnologia Certificaci&#243;n </a> </td>
																	    <td> <a href="../elements/ceb92041.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/e1720341.html" target="element"> Node </a> </td>
													    <td> <a href="../elements/e1720341.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/4972230a.html" target="element"> VIGIA </a> </td>
															    <td> <a href="../elements/4972230a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/d6547907.html" target="element"> Nube Salesforce SAAS  </a> </td>
											    <td> <a href="../elements/d6547907.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d7d0b01f.html" target="element"> CRM SalesForce Certificacion Ofuscado </a> </td>
													    <td> <a href="../elements/d7d0b01f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/2c97cbc0.html" target="element"> DMZ FNA </a> </td>
									           <td> <a href="../objects/2c97cbc0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/cac3dc50.html" target="element"> FNABOGCMBGW (10.1.250.4) </a> </td>
													    <td> <a href="../elements/cac3dc50.html" target="element" class="i18n-elementtype-Node"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/29766ae5.html" target="element"> ESB - IBM DMZ Certificaci&#243;n  </a> </td>
															    <td> <a href="../elements/29766ae5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/6d8b257b.html" target="element"> Adaptadores Tecnolog&#237;a  SalesForce </a> </td>
																	    <td> <a href="../elements/6d8b257b.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/5951e8f4.html" target="element"> Adaptador Integraci&#243;n SalesForce Ext  </a> </td>
																	    <td> <a href="../elements/5951e8f4.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/551b73b2.html" target="element"> IHS Certificacion </a> </td>
															    <td> <a href="../elements/551b73b2.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
															</tr>

													        <tr>
													           <td> <a href="../objects/7192e87f.html" target="element">  </a> </td>
													           <td> <a href="../objects/7192e87f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
											
											<tr>
											    <td> <a href="../elements/907c4cb6.html" target="element"> FNABIGPWAS (10.5.78.60) </a> </td>
											    <td> <a href="../elements/907c4cb6.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/68b57437.html" target="element"> BackEnds FNA Certificaci&#243;n Ofuscado  (IAAS3) </a> </td>
													    <td> <a href="../elements/68b57437.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ef2e9a6c.html" target="element"> FNABIGPMBW (10.5.78.61) </a> </td>
											    <td> <a href="../elements/ef2e9a6c.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f8a253c1.html" target="element"> Message Broker Certificaci&#243;n Ofuscado </a> </td>
													    <td> <a href="../elements/f8a253c1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/94aa5678.html" target="element"> MQ Cobis </a> </td>
															    <td> <a href="../elements/94aa5678.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/22b15da2.html" target="element">  </a> </td>
									           <td> <a href="../objects/22b15da2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/9bf5f56f.html" target="element">  </a> </td>
									           <td> <a href="../objects/9bf5f56f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/fd63ec61.html" target="element">  </a> </td>
									           <td> <a href="../objects/fd63ec61.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/189ae4b7.html" target="element">  </a> </td>
									           <td> <a href="../objects/189ae4b7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/6612c90c.html" target="element">  </a> </td>
									           <td> <a href="../objects/6612c90c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/217fb4cf.html" target="element">  </a> </td>
									           <td> <a href="../objects/217fb4cf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/9914459c.html" target="element">  </a> </td>
																						<td> <a href="../elements/9914459c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/104b6bad.html" target="element"> ESB - IBM Interno Certificaci&#243;n </a> </td>
																						<td> <a href="../elements/5951e8f4.html" target="element"> Adaptador Integraci&#243;n SalesForce Ext  </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/228fbc03.html" target="element">  </a> </td>
																								<td> <a href="../elements/228fbc03.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/5856faef.html" target="element"> Adaptadores Integraci&#243;n Certificaci&#243;n </a> </td>
																								<td> <a href="../elements/68b57437.html" target="element"> BackEnds FNA Certificaci&#243;n Ofuscado  (IAAS3) </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/91747000.html" target="element">  </a> </td>
																								<td> <a href="../elements/91747000.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/5856faef.html" target="element"> Adaptadores Integraci&#243;n Certificaci&#243;n </a> </td>
																								<td> <a href="../elements/94aa5678.html" target="element"> MQ Cobis </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/1a7d1cc7.html" target="element">  </a> </td>
																								<td> <a href="../elements/1a7d1cc7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/5856faef.html" target="element"> Adaptadores Integraci&#243;n Certificaci&#243;n </a> </td>
																								<td> <a href="../elements/4972230a.html" target="element"> VIGIA </a> </td>
																							</tr>

															
													
													
											
																	<tr>
																		<td> <a href="../elements/52463e7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/52463e7c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/d6547907.html" target="element"> Nube Salesforce SAAS  </a> </td>
																		<td> <a href="../elements/551b73b2.html" target="element"> IHS Certificacion </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/d0f21a72.html" target="element">  </a> </td>
																						<td> <a href="../elements/d0f21a72.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/29766ae5.html" target="element"> ESB - IBM DMZ Certificaci&#243;n  </a> </td>
																						<td> <a href="../elements/104b6bad.html" target="element"> ESB - IBM Interno Certificaci&#243;n </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/1856409f.html" target="element">  </a> </td>
																								<td> <a href="../elements/1856409f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/5951e8f4.html" target="element"> Adaptador Integraci&#243;n SalesForce Ext  </a> </td>
																								<td> <a href="../elements/d7d0b01f.html" target="element"> CRM SalesForce Certificacion Ofuscado </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/b76afbfc.html" target="element">  </a> </td>
																						<td> <a href="../elements/b76afbfc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/551b73b2.html" target="element"> IHS Certificacion </a> </td>
																						<td> <a href="../elements/6d8b257b.html" target="element"> Adaptadores Tecnolog&#237;a  SalesForce </a> </td>
																					</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
											
																			<tr>
																				<td> <a href="../elements/2f1a112e.html" target="element">  </a> </td>
																				<td> <a href="../elements/2f1a112e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/68b57437.html" target="element"> BackEnds FNA Certificaci&#243;n Ofuscado  (IAAS3) </a> </td>
																				<td> <a href="../elements/94aa5678.html" target="element"> MQ Cobis </a> </td>
																			</tr>

											
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>