<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Conceptual Integracion Bodega de Datos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Conceptual Integracion Bodega de Datos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/2caa986e.png" alt="Arquitectura Conceptual Integracion Bodega de Datos" usemap="#2caa986emap"/>
			   <map name="2caa986emap">
				  		<area shape="rect" coords="20,140,260,250" href="../elements/e7e0daee.html"  target="element">
				  				<area shape="rect" coords="524,428,764,538" href="../elements/144f12c6.html"  target="element">
				  				<area shape="rect" coords="428,140,668,250" href="../elements/38ff48fa.html"  target="element">

				  		<area shape="rect" coords="380,20,790,604" href="../elements/5eb298c9.html"  target="element">
				  				<area shape="rect" coords="1100,146,1340,256" href="../elements/590dad87.html"  target="element">
				  				<area shape="rect" coords="932,444,1150,542" href="../elements/1aa087d3.html"  target="element">

				  		<area shape="rect" coords="884,26,1390,598" href="../elements/2bc77a1f.html"  target="element">
				  				<area shape="rect" coords="1580,140,1820,250" href="../elements/362a07f6.html"  target="element">

				  		<area shape="rect" coords="1508,20,1960,604" href="../elements/1af9f173.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/1af9f173.html" target="element"> Bodega de Datos  </a> </td>
											    <td> <a href="../elements/1af9f173.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/362a07f6.html" target="element"> Procesos almacenados  </a> </td>
													    <td> <a href="../elements/362a07f6.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/2bc77a1f.html" target="element"> Fachada Java Servicios Bodega de Datos </a> </td>
											    <td> <a href="../elements/2bc77a1f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/1aa087d3.html" target="element"> Servicios WEB SOAP </a> </td>
													    <td> <a href="../elements/1aa087d3.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/590dad87.html" target="element"> JDBC o ODBC </a> </td>
													    <td> <a href="../elements/590dad87.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
											    <td> <a href="../elements/5eb298c9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/38ff48fa.html" target="element"> Servicios Encapsulados Bodega de datos  </a> </td>
													    <td> <a href="../elements/38ff48fa.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/144f12c6.html" target="element"> FrameWork ESB </a> </td>
													    <td> <a href="../elements/144f12c6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
											    <td> <a href="../elements/e7e0daee.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											
																			<tr>
																				<td> <a href="../elements/69dce84f.html" target="element">  </a> </td>
																				<td> <a href="../elements/69dce84f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/1aa087d3.html" target="element"> Servicios WEB SOAP </a> </td>
																				<td> <a href="../elements/590dad87.html" target="element"> JDBC o ODBC </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3de486f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/3de486f9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/590dad87.html" target="element"> JDBC o ODBC </a> </td>
																				<td> <a href="../elements/362a07f6.html" target="element"> Procesos almacenados  </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/7a46c74c.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a46c74c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
																		<td> <a href="../elements/144f12c6.html" target="element"> FrameWork ESB </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/9c579418.html" target="element">  </a> </td>
																				<td> <a href="../elements/9c579418.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/38ff48fa.html" target="element"> Servicios Encapsulados Bodega de datos  </a> </td>
																				<td> <a href="../elements/144f12c6.html" target="element"> FrameWork ESB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/06058a85.html" target="element">  </a> </td>
																				<td> <a href="../elements/06058a85.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/144f12c6.html" target="element"> FrameWork ESB </a> </td>
																				<td> <a href="../elements/1aa087d3.html" target="element"> Servicios WEB SOAP </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/2560ec79.html" target="element">  </a> </td>
																		<td> <a href="../elements/2560ec79.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
																		<td> <a href="../elements/38ff48fa.html" target="element"> Servicios Encapsulados Bodega de datos  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>