<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Comceptual ERP</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Comceptual ERP</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/3eb987a5.png" alt="Arquitectura Comceptual ERP" usemap="#3eb987a5map"/>
			   <map name="3eb987a5map">
				  				<area shape="rect" coords="116,308,356,438" href="../elements/ef10a863.html"  target="element">

				  		<area shape="rect" coords="20,20,430,550" href="../elements/4aec6e5f.html"  target="element">
				  				<area shape="rect" coords="1172,116,1412,246" href="../elements/cc0b9b93.html"  target="element">
				  				<area shape="rect" coords="1172,308,1412,438" href="../elements/fd858116.html"  target="element">
				  				<area shape="rect" coords="788,116,1126,438" href="../elements/144f12c6.html"  target="element">
				  				<area shape="rect" coords="500,308,740,438" href="../elements/f8a65581.html"  target="element">
				  				<area shape="rect" coords="500,116,740,246" href="../elements/93f2f74a.html"  target="element">

				  		<area shape="rect" coords="452,20,1438,550" href="../elements/5eb298c9.html"  target="element">
				  				<area shape="rect" coords="1604,116,1844,226" href="../elements/8bc0fe9f.html"  target="element">

				  		<area shape="rect" coords="1556,20,1870,550" href="../elements/a87724aa.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/a87724aa.html" target="element"> ERP </a> </td>
											    <td> <a href="../elements/a87724aa.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8bc0fe9f.html" target="element"> Servicios SAP </a> </td>
													    <td> <a href="../elements/8bc0fe9f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
											    <td> <a href="../elements/5eb298c9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/93f2f74a.html" target="element"> Adaptador Tecnologia MQ </a> </td>
													    <td> <a href="../elements/93f2f74a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f8a65581.html" target="element"> Adaptador Integraci&#243;n Cobis </a> </td>
													    <td> <a href="../elements/f8a65581.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/144f12c6.html" target="element"> FrameWork ESB </a> </td>
													    <td> <a href="../elements/144f12c6.html" target="element" class="i18n-elementtype-ApplicationCollaboration"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fd858116.html" target="element"> Adaptador Tecnologia SOAP </a> </td>
													    <td> <a href="../elements/fd858116.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cc0b9b93.html" target="element"> Adaptador Integraci&#243;n ERP </a> </td>
													    <td> <a href="../elements/cc0b9b93.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/4aec6e5f.html" target="element"> Cobis  </a> </td>
											    <td> <a href="../elements/4aec6e5f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ef10a863.html" target="element"> Servicios Cobis </a> </td>
													    <td> <a href="../elements/ef10a863.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b08bf3a3.html" target="element">  </a> </td>
																		<td> <a href="../elements/b08bf3a3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/a87724aa.html" target="element"> ERP </a> </td>
																		<td> <a href="../elements/fd858116.html" target="element"> Adaptador Tecnologia SOAP </a> </td>
																	</tr>

											
																			<tr>
																				<td> <a href="../elements/2c720f44.html" target="element">  </a> </td>
																				<td> <a href="../elements/2c720f44.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/93f2f74a.html" target="element"> Adaptador Tecnologia MQ </a> </td>
																				<td> <a href="../elements/144f12c6.html" target="element"> FrameWork ESB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9b38153a.html" target="element"> SOAP </a> </td>
																				<td> <a href="../elements/9b38153a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/f8a65581.html" target="element"> Adaptador Integraci&#243;n Cobis </a> </td>
																				<td> <a href="../elements/ef10a863.html" target="element"> Servicios Cobis </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/61bad5d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/61bad5d8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/144f12c6.html" target="element"> FrameWork ESB </a> </td>
																				<td> <a href="../elements/f8a65581.html" target="element"> Adaptador Integraci&#243;n Cobis </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7198e040.html" target="element">  </a> </td>
																				<td> <a href="../elements/7198e040.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/144f12c6.html" target="element"> FrameWork ESB </a> </td>
																				<td> <a href="../elements/cc0b9b93.html" target="element"> Adaptador Integraci&#243;n ERP </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/203830c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/203830c4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/fd858116.html" target="element"> Adaptador Tecnologia SOAP </a> </td>
																				<td> <a href="../elements/144f12c6.html" target="element"> FrameWork ESB </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/05977599.html" target="element">  </a> </td>
																				<td> <a href="../elements/05977599.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/cc0b9b93.html" target="element"> Adaptador Integraci&#243;n ERP </a> </td>
																				<td> <a href="../elements/8bc0fe9f.html" target="element"> Servicios SAP </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/eb32fd5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb32fd5f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/4aec6e5f.html" target="element"> Cobis  </a> </td>
																		<td> <a href="../elements/93f2f74a.html" target="element"> Adaptador Tecnologia MQ </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>