<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Objetos Relevantes</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Objetos Relevantes</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/40b01cdf.png" alt="Objetos Relevantes" usemap="#40b01cdfmap"/>
			   <map name="40b01cdfmap">
				          <area shape="rect" coords="790,496,818,582" href="../objects/7d341cb9.html" target="element" >
				          <area shape="rect" coords="406,184,434,270" href="../objects/b60ee6fa.html" target="element" >
				          <area shape="rect" coords="214,208,242,294" href="../objects/cb1bfa3a.html" target="element" >
				          <area shape="rect" coords="22,292,50,378" href="../objects/968d57d3.html" target="element" >
				          <area shape="rect" coords="1078,424,1106,510" href="../objects/20b4f769.html" target="element" >
				          <area shape="rect" coords="790,292,818,378" href="../objects/bd134fb6.html" target="element" >
				          <area shape="rect" coords="690,640,718,726" href="../objects/73230220.html" target="element" >
				          <area shape="rect" coords="490,640,518,726" href="../objects/1dfe07ee.html" target="element" >
				  		<area shape="rect" coords="118,328,358,438" href="../elements/c1cddcdc.html"  target="element">
				  		<area shape="rect" coords="490,880,730,990" href="../elements/5bb535e8.html"  target="element">
				  		<area shape="rect" coords="934,522,1294,632" href="../elements/cb425b42.html"  target="element">
				  		<area shape="rect" coords="932,292,1294,402" href="../elements/e1eeb594.html"  target="element">
				          <area shape="rect" coords="596,208,624,294" href="../objects/12611c4e.html" target="element" >
				  		<area shape="rect" coords="478,88,718,198" href="../elements/fa5504f7.html"  target="element">
				  		<area shape="rect" coords="644,712,884,858" href="../elements/8d3ede69.html"  target="element">
				  		<area shape="rect" coords="334,712,574,858" href="../elements/b09f2755.html"  target="element">
				  		<area shape="rect" coords="478,328,718,642" href="../elements/94f1e28c.html"  target="element">
				  		<area shape="rect" coords="118,88,358,198" href="../elements/572e2025.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/572e2025.html" target="element"> Aplicacion de Negocio  </a> </td>
											    <td> <a href="../elements/572e2025.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/94f1e28c.html" target="element"> Versiones Del Servicio </a> </td>
											    <td> <a href="../elements/94f1e28c.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b09f2755.html" target="element"> Documento Zip Con WSDL y XSDs </a> </td>
											    <td> <a href="../elements/b09f2755.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8d3ede69.html" target="element"> Documento 249 </a> </td>
											    <td> <a href="../elements/8d3ede69.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa5504f7.html" target="element"> Servicio de Negocio </a> </td>
											    <td> <a href="../elements/fa5504f7.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/12611c4e.html" target="element">  </a> </td>
									           <td> <a href="../objects/12611c4e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/e1eeb594.html" target="element"> SLA Acuerdos niveles de servicio extendidos </a> </td>
											    <td> <a href="../elements/e1eeb594.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cb425b42.html" target="element"> DLA Definici&#243;n niveles del servicio extendido   </a> </td>
											    <td> <a href="../elements/cb425b42.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5bb535e8.html" target="element"> WSDL y anatomia </a> </td>
											    <td> <a href="../elements/5bb535e8.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c1cddcdc.html" target="element"> Versi&#243;n Aplicaci&#243;n </a> </td>
											    <td> <a href="../elements/c1cddcdc.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/1dfe07ee.html" target="element">  </a> </td>
									           <td> <a href="../objects/1dfe07ee.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/73230220.html" target="element">  </a> </td>
									           <td> <a href="../objects/73230220.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/bd134fb6.html" target="element">  </a> </td>
									           <td> <a href="../objects/bd134fb6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/20b4f769.html" target="element">  </a> </td>
									           <td> <a href="../objects/20b4f769.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/968d57d3.html" target="element">  </a> </td>
									           <td> <a href="../objects/968d57d3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/cb1bfa3a.html" target="element">  </a> </td>
									           <td> <a href="../objects/cb1bfa3a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/b60ee6fa.html" target="element">  </a> </td>
									           <td> <a href="../objects/b60ee6fa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/7d341cb9.html" target="element">  </a> </td>
									           <td> <a href="../objects/7d341cb9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b172c2b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/b172c2b1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/572e2025.html" target="element"> Aplicacion de Negocio  </a> </td>
																		<td> <a href="../elements/c1cddcdc.html" target="element"> Versi&#243;n Aplicaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fbc1e35b.html" target="element">  </a> </td>
																		<td> <a href="../elements/fbc1e35b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/94f1e28c.html" target="element"> Versiones Del Servicio </a> </td>
																		<td> <a href="../elements/b09f2755.html" target="element"> Documento Zip Con WSDL y XSDs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2e5b6b53.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e5b6b53.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/94f1e28c.html" target="element"> Versiones Del Servicio </a> </td>
																		<td> <a href="../elements/8d3ede69.html" target="element"> Documento 249 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3d3f9f08.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d3f9f08.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/94f1e28c.html" target="element"> Versiones Del Servicio </a> </td>
																		<td> <a href="../elements/572e2025.html" target="element"> Aplicacion de Negocio  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ed0d9e16.html" target="element">  </a> </td>
																		<td> <a href="../elements/ed0d9e16.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/94f1e28c.html" target="element"> Versiones Del Servicio </a> </td>
																		<td> <a href="../elements/e1eeb594.html" target="element"> SLA Acuerdos niveles de servicio extendidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3737edf0.html" target="element">  </a> </td>
																		<td> <a href="../elements/3737edf0.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/94f1e28c.html" target="element"> Versiones Del Servicio </a> </td>
																		<td> <a href="../elements/cb425b42.html" target="element"> DLA Definici&#243;n niveles del servicio extendido   </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67fbe119.html" target="element">  </a> </td>
																		<td> <a href="../elements/67fbe119.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/94f1e28c.html" target="element"> Versiones Del Servicio </a> </td>
																		<td> <a href="../elements/5bb535e8.html" target="element"> WSDL y anatomia </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/302eab42.html" target="element">  </a> </td>
																		<td> <a href="../elements/302eab42.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/fa5504f7.html" target="element"> Servicio de Negocio </a> </td>
																		<td> <a href="../elements/94f1e28c.html" target="element"> Versiones Del Servicio </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/cabb1afe.html" target="element">  </a> </td>
																		<td> <a href="../elements/cabb1afe.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/e1eeb594.html" target="element"> SLA Acuerdos niveles de servicio extendidos </a> </td>
																		<td> <a href="../elements/cb425b42.html" target="element"> DLA Definici&#243;n niveles del servicio extendido   </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1db72caa.html" target="element">  </a> </td>
																		<td> <a href="../elements/1db72caa.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/c1cddcdc.html" target="element"> Versi&#243;n Aplicaci&#243;n </a> </td>
																		<td> <a href="../elements/e1eeb594.html" target="element"> SLA Acuerdos niveles de servicio extendidos </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>