<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Creditos Educativos Banlinea</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Creditos Educativos Banlinea</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/42025d44.png" alt="Creditos Educativos Banlinea" usemap="#42025d44map"/>
			   <map name="42025d44map">
				          <area shape="rect" coords="884,1676,1254,1836" href="../objects/5c5b5fc4.html" target="element" >
				          <area shape="rect" coords="972,980,1174,1030" href="../objects/6d765d88.html" target="element" >
				          <area shape="rect" coords="1002,1218,1034,1268" href="../objects/61afc087.html" target="element" >
				          <area shape="rect" coords="984,452,1016,502" href="../objects/4ae5a3ff.html" target="element" >
				          <area shape="rect" coords="984,332,1016,382" href="../objects/3c35b556.html" target="element" >
				          <area shape="rect" coords="986,764,1012,804" href="../objects/27bf9d04.html" target="element" >
				          <area shape="rect" coords="984,236,1010,276" href="../objects/be909282.html" target="element" >
				          <area shape="rect" coords="984,692,1010,732" href="../objects/5ba45102.html" target="element" >
				          <area shape="rect" coords="1014,1412,1050,1464" href="../objects/bbb4a353.html" target="element" >
				  				<area shape="rect" coords="1218,1172,1458,1282" href="../elements/94aa5678.html"  target="element">
				  				<area shape="rect" coords="1268,452,1508,574" href="../elements/75b1629d.html"  target="element">
				  						<area shape="rect" coords="1266,980,1506,1090" href="../elements/563046a3.html"  target="element">
				  						<area shape="rect" coords="1270,884,1500,958" href="../elements/1e7e61d2.html"  target="element">
				  						<area shape="rect" coords="1266,812,1676,862" href="../elements/9c1d1e94.html"  target="element">
				  						<area shape="rect" coords="1266,716,1506,800" href="../elements/1af04e3f.html"  target="element">

				  		        <area shape="rect" coords="1218,644,1556,1150" href="../objects/307828f2.html" target="element" >
				  				<area shape="rect" coords="1268,332,1508,442" href="../elements/3e1dd104.html"  target="element">
				  				<area shape="rect" coords="1268,212,1508,322" href="../elements/af09b663.html"  target="element">
				  				<area shape="rect" coords="1268,92,1726,202" href="../elements/5e6020e1.html"  target="element">

				  		<area shape="rect" coords="1172,20,1774,1318" href="../elements/100b76e6.html"  target="element">
				  				<area shape="rect" coords="1268,1460,1558,1558" href="../elements/6fc26f0b.html"  target="element">

				  		<area shape="rect" coords="1196,1388,1628,1654" href="../elements/a803273e.html"  target="element">
				  		<area shape="rect" coords="404,140,958,1630" href="../elements/5eb298c9.html"  target="element">
				  				<area shape="rect" coords="68,1076,358,1174" href="../elements/dcfc3da7.html"  target="element">

				  		<area shape="rect" coords="20,356,382,1222" href="../elements/8cd0b93f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/8cd0b93f.html" target="element"> Banlinea </a> </td>
											    <td> <a href="../elements/8cd0b93f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/dcfc3da7.html" target="element"> Apropabo </a> </td>
													    <td> <a href="../elements/dcfc3da7.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
											    <td> <a href="../elements/5eb298c9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a803273e.html" target="element"> VIGIA </a> </td>
											    <td> <a href="../elements/a803273e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6fc26f0b.html" target="element"> Consultar Listas Inhibitorias </a> </td>
													    <td> <a href="../elements/6fc26f0b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/100b76e6.html" target="element">   COBIS </a> </td>
											    <td> <a href="../elements/100b76e6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/5e6020e1.html" target="element"> SERVICIO CREACION CONSUMIDOR FINANCIERO </a> </td>
													    <td> <a href="../elements/5e6020e1.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/af09b663.html" target="element"> Creacion Prospecto Entidad  </a> </td>
													    <td> <a href="../elements/af09b663.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3e1dd104.html" target="element"> Creacion relacion prospectos  </a> </td>
													    <td> <a href="../elements/3e1dd104.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/307828f2.html" target="element"> Consultas </a> </td>
											           <td> <a href="../objects/307828f2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/1af04e3f.html" target="element"> consultar Afiliado </a> </td>
															    <td> <a href="../elements/1af04e3f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/9c1d1e94.html" target="element"> consultar  empresa </a> </td>
															    <td> <a href="../elements/9c1d1e94.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/1e7e61d2.html" target="element"> Exsiste relacion </a> </td>
															    <td> <a href="../elements/1e7e61d2.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/563046a3.html" target="element"> consulta detalle del ctramite </a> </td>
															    <td> <a href="../elements/563046a3.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/75b1629d.html" target="element"> Radicacion de tramite </a> </td>
													    <td> <a href="../elements/75b1629d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/94aa5678.html" target="element"> MQ Cobis </a> </td>
													    <td> <a href="../elements/94aa5678.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/bbb4a353.html" target="element">  </a> </td>
									           <td> <a href="../objects/bbb4a353.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/5ba45102.html" target="element">  </a> </td>
									           <td> <a href="../objects/5ba45102.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/be909282.html" target="element">  </a> </td>
									           <td> <a href="../objects/be909282.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/27bf9d04.html" target="element">  </a> </td>
									           <td> <a href="../objects/27bf9d04.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/3c35b556.html" target="element">  </a> </td>
									           <td> <a href="../objects/3c35b556.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/4ae5a3ff.html" target="element">  </a> </td>
									           <td> <a href="../objects/4ae5a3ff.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/61afc087.html" target="element">  </a> </td>
									           <td> <a href="../objects/61afc087.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/6d765d88.html" target="element">  </a> </td>
									           <td> <a href="../objects/6d765d88.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/5c5b5fc4.html" target="element">  </a> </td>
									           <td> <a href="../objects/5c5b5fc4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f48d803b.html" target="element">  </a> </td>
																		<td> <a href="../elements/f48d803b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/8cd0b93f.html" target="element"> Banlinea </a> </td>
																		<td> <a href="../elements/1af04e3f.html" target="element"> consultar Afiliado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/80e3cbf8.html" target="element">  </a> </td>
																		<td> <a href="../elements/80e3cbf8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/8cd0b93f.html" target="element"> Banlinea </a> </td>
																		<td> <a href="../elements/5e6020e1.html" target="element"> SERVICIO CREACION CONSUMIDOR FINANCIERO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e509bce5.html" target="element">  </a> </td>
																		<td> <a href="../elements/e509bce5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/8cd0b93f.html" target="element"> Banlinea </a> </td>
																		<td> <a href="../elements/6fc26f0b.html" target="element"> Consultar Listas Inhibitorias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/708f01bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/708f01bf.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/8cd0b93f.html" target="element"> Banlinea </a> </td>
																		<td> <a href="../elements/9c1d1e94.html" target="element"> consultar  empresa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6308602a.html" target="element">  </a> </td>
																		<td> <a href="../elements/6308602a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/8cd0b93f.html" target="element"> Banlinea </a> </td>
																		<td> <a href="../elements/af09b663.html" target="element"> Creacion Prospecto Entidad  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7a986d00.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a986d00.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/8cd0b93f.html" target="element"> Banlinea </a> </td>
																		<td> <a href="../elements/75b1629d.html" target="element"> Radicacion de tramite </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/18daf3b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/18daf3b9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/8cd0b93f.html" target="element"> Banlinea </a> </td>
																		<td> <a href="../elements/563046a3.html" target="element"> consulta detalle del ctramite </a> </td>
																	</tr>

											
											
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													
																			<tr>
																				<td> <a href="../elements/fcc0b342.html" target="element">  </a> </td>
																				<td> <a href="../elements/fcc0b342.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/94aa5678.html" target="element"> MQ Cobis </a> </td>
																				<td> <a href="../elements/dcfc3da7.html" target="element"> Apropabo </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>