<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Conceptual Homologaciones CRM TO-BE</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Conceptual Homologaciones CRM TO-BE</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/46f962a2.png" alt="Arquitectura Conceptual Homologaciones CRM TO-BE" usemap="#46f962a2map"/>
			   <map name="46f962a2map">
				  		<area shape="rect" coords="1628,20,1868,130" href="../elements/18988896.html"  target="element">
				  				<area shape="rect" coords="764,236,1004,346" href="../elements/8315a58b.html"  target="element">
				  						<area shape="rect" coords="452,440,692,550" href="../elements/67eca6e4.html"  target="element">
				  						<area shape="rect" coords="404,332,644,442" href="../elements/c005143d.html"  target="element">
				  						<area shape="rect" coords="380,236,620,346" href="../elements/9ec62518.html"  target="element">

				  				<area shape="rect" coords="356,140,718,802" href="../elements/8df0f5d7.html"  target="element">
				  						<area shape="rect" coords="1172,362,1412,472" href="../elements/99421ec5.html"  target="element">
				  						<area shape="rect" coords="1286,530,1506,640" href="../elements/25cc8957.html"  target="element">
				  						<area shape="rect" coords="1044,530,1256,640" href="../elements/bf93d3f8.html"  target="element">
				  						<area shape="rect" coords="1148,674,1388,784" href="../elements/771173de.html"  target="element">
				  						<area shape="rect" coords="1316,218,1506,328" href="../elements/42633cbd.html"  target="element">
				  						<area shape="rect" coords="1052,218,1246,328" href="../elements/70deed45.html"  target="element">

				  				<area shape="rect" coords="1028,122,1532,820" href="../elements/828f4efa.html"  target="element">

				  		<area shape="rect" coords="308,20,1582,862" href="../elements/5eb298c9.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/788ee317.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/788ee317.html" target="element"> Cobis </a> </td>
											    <td> <a href="../elements/788ee317.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
											    <td> <a href="../elements/5eb298c9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/828f4efa.html" target="element"> Componente Funciones Homologaciones </a> </td>
													    <td> <a href="../elements/828f4efa.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/70deed45.html" target="element"> Funcion Request </a> </td>
															    <td> <a href="../elements/70deed45.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/42633cbd.html" target="element"> Funcion Response </a> </td>
															    <td> <a href="../elements/42633cbd.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/771173de.html" target="element"> Lista Valores </a> </td>
															    <td> <a href="../elements/771173de.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/bf93d3f8.html" target="element"> Tabla sistemas </a> </td>
															    <td> <a href="../elements/bf93d3f8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/25cc8957.html" target="element"> Tabla Dominios </a> </td>
															    <td> <a href="../elements/25cc8957.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/99421ec5.html" target="element"> Tabla Homologaci&#243;n </a> </td>
															    <td> <a href="../elements/99421ec5.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/8df0f5d7.html" target="element"> Capa servicios ESB </a> </td>
													    <td> <a href="../elements/8df0f5d7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9ec62518.html" target="element"> Servicio1 </a> </td>
															    <td> <a href="../elements/9ec62518.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c005143d.html" target="element"> Servicio2 </a> </td>
															    <td> <a href="../elements/c005143d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/67eca6e4.html" target="element"> Servicio3 </a> </td>
															    <td> <a href="../elements/67eca6e4.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/8315a58b.html" target="element"> Decisor de Homologaci&#243;n </a> </td>
													    <td> <a href="../elements/8315a58b.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
											    <td> <a href="../elements/18988896.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/1592f82c.html" target="element">  </a> </td>
																		<td> <a href="../elements/1592f82c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
																		<td> <a href="../elements/788ee317.html" target="element"> Cobis </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/4376fcf1.html" target="element">  </a> </td>
																						<td> <a href="../elements/4376fcf1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/70deed45.html" target="element"> Funcion Request </a> </td>
																						<td> <a href="../elements/99421ec5.html" target="element"> Tabla Homologaci&#243;n </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/6a98bf18.html" target="element">  </a> </td>
																						<td> <a href="../elements/6a98bf18.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/42633cbd.html" target="element"> Funcion Response </a> </td>
																						<td> <a href="../elements/99421ec5.html" target="element"> Tabla Homologaci&#243;n </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/be442173.html" target="element">  </a> </td>
																						<td> <a href="../elements/be442173.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/99421ec5.html" target="element"> Tabla Homologaci&#243;n </a> </td>
																						<td> <a href="../elements/771173de.html" target="element"> Lista Valores </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7cd163f2.html" target="element">  </a> </td>
																						<td> <a href="../elements/7cd163f2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/99421ec5.html" target="element"> Tabla Homologaci&#243;n </a> </td>
																						<td> <a href="../elements/bf93d3f8.html" target="element"> Tabla sistemas </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/a873b9bc.html" target="element">  </a> </td>
																						<td> <a href="../elements/a873b9bc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																						<td> <a href="../elements/99421ec5.html" target="element"> Tabla Homologaci&#243;n </a> </td>
																						<td> <a href="../elements/25cc8957.html" target="element"> Tabla Dominios </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/73a86203.html" target="element">  </a> </td>
																				<td> <a href="../elements/73a86203.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/8df0f5d7.html" target="element"> Capa servicios ESB </a> </td>
																				<td> <a href="../elements/c005143d.html" target="element"> Servicio2 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bcbb07e5.html" target="element">  </a> </td>
																				<td> <a href="../elements/bcbb07e5.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/8df0f5d7.html" target="element"> Capa servicios ESB </a> </td>
																				<td> <a href="../elements/67eca6e4.html" target="element"> Servicio3 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/629315b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/629315b9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/8df0f5d7.html" target="element"> Capa servicios ESB </a> </td>
																				<td> <a href="../elements/8315a58b.html" target="element"> Decisor de Homologaci&#243;n </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/1330023b.html" target="element">  </a> </td>
																				<td> <a href="../elements/1330023b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/8315a58b.html" target="element"> Decisor de Homologaci&#243;n </a> </td>
																				<td> <a href="../elements/828f4efa.html" target="element"> Componente Funciones Homologaciones </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/6b7b8e38.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b7b8e38.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																		<td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>