<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Migracion</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Migracion</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4ca41da6.png" alt="Migracion" usemap="#4ca41da6map"/>
			   <map name="4ca41da6map">
				          <area shape="rect" coords="764,810,1040,896" href="../objects/6cc19085.html" target="element" >
				          <area shape="rect" coords="764,420,1040,506" href="../objects/7873613b.html" target="element" >
				  		<area shape="rect" coords="1052,860,1292,970" href="../elements/b3ef578e.html"  target="element">
				  		<area shape="rect" coords="1052,478,1292,588" href="../elements/73e4fffb.html"  target="element">
				          <area shape="rect" coords="308,788,474,918" href="../objects/20c57261.html" target="element" >
				  		<area shape="rect" coords="20,884,260,994" href="../elements/fb4a6609.html"  target="element">
				  		<area shape="rect" coords="512,740,740,1060" href="../elements/79f0f7ac.html"  target="element">
				          <area shape="rect" coords="764,68,1040,154" href="../objects/d292a4a7.html" target="element" >
				  		<area shape="rect" coords="1052,114,1292,224" href="../elements/13c67ce1.html"  target="element">
				          <area shape="rect" coords="320,398,486,528" href="../objects/058b12e6.html" target="element" >
				  		<area shape="rect" coords="20,500,260,610" href="../elements/4ca25dfb.html"  target="element">
				  		<area shape="rect" coords="512,374,740,694" href="../elements/2ae30380.html"  target="element">
				          <area shape="rect" coords="308,100,474,230" href="../objects/7b4b6fdb.html" target="element" >
				  		<area shape="rect" coords="20,200,260,310" href="../elements/9177823d.html"  target="element">
				  		<area shape="rect" coords="512,20,740,310" href="../elements/08e5bcd0.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/33a6949e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/33a6949e.html" target="element"> Cobis </a> </td>
											    <td> <a href="../elements/33a6949e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/08e5bcd0.html" target="element"> Registry WSRR Desarrollo </a> </td>
											    <td> <a href="../elements/08e5bcd0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9177823d.html" target="element"> UT Heinsohn </a> </td>
											    <td> <a href="../elements/9177823d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/7b4b6fdb.html" target="element">  </a> </td>
									           <td> <a href="../objects/7b4b6fdb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/2ae30380.html" target="element"> Registry WSRR Certificaci&#243;n </a> </td>
											    <td> <a href="../elements/2ae30380.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ca25dfb.html" target="element"> Green </a> </td>
											    <td> <a href="../elements/4ca25dfb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/058b12e6.html" target="element">  </a> </td>
									           <td> <a href="../objects/058b12e6.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/13c67ce1.html" target="element"> Oficina Informatica </a> </td>
											    <td> <a href="../elements/13c67ce1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/d292a4a7.html" target="element">  </a> </td>
									           <td> <a href="../objects/d292a4a7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/79f0f7ac.html" target="element"> Registry WSRR Produccion </a> </td>
											    <td> <a href="../elements/79f0f7ac.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fb4a6609.html" target="element"> ASIC </a> </td>
											    <td> <a href="../elements/fb4a6609.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/20c57261.html" target="element">  </a> </td>
									           <td> <a href="../objects/20c57261.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/73e4fffb.html" target="element"> Oficina Informatica </a> </td>
											    <td> <a href="../elements/73e4fffb.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b3ef578e.html" target="element"> Oficina Informatica </a> </td>
											    <td> <a href="../elements/b3ef578e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/7873613b.html" target="element">  </a> </td>
									           <td> <a href="../objects/7873613b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/6cc19085.html" target="element">  </a> </td>
									           <td> <a href="../objects/6cc19085.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/c1fe0f39.html" target="element">  </a> </td>
																		<td> <a href="../elements/c1fe0f39.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/33a6949e.html" target="element"> Cobis </a> </td>
																		<td> <a href="../elements/08e5bcd0.html" target="element"> Registry WSRR Desarrollo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7d75faad.html" target="element">  </a> </td>
																		<td> <a href="../elements/7d75faad.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/9177823d.html" target="element"> UT Heinsohn </a> </td>
																		<td> <a href="../elements/08e5bcd0.html" target="element"> Registry WSRR Desarrollo </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/71c552b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/71c552b2.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/4ca25dfb.html" target="element"> Green </a> </td>
																		<td> <a href="../elements/2ae30380.html" target="element"> Registry WSRR Certificaci&#243;n </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/5a330efe.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a330efe.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/13c67ce1.html" target="element"> Oficina Informatica </a> </td>
																		<td> <a href="../elements/08e5bcd0.html" target="element"> Registry WSRR Desarrollo </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/bd55ab51.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd55ab51.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/fb4a6609.html" target="element"> ASIC </a> </td>
																		<td> <a href="../elements/79f0f7ac.html" target="element"> Registry WSRR Produccion </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/bdfc3089.html" target="element">  </a> </td>
																		<td> <a href="../elements/bdfc3089.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/73e4fffb.html" target="element"> Oficina Informatica </a> </td>
																		<td> <a href="../elements/2ae30380.html" target="element"> Registry WSRR Certificaci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6b12529f.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b12529f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/b3ef578e.html" target="element"> Oficina Informatica </a> </td>
																		<td> <a href="../elements/79f0f7ac.html" target="element"> Registry WSRR Produccion </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>