<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>PKI BUS_IBM Consumidor Financiero</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>PKI BUS_IBM Consumidor Financiero</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/75723ead.png" alt="PKI BUS_IBM Consumidor Financiero" usemap="#75723eadmap"/>
			   <map name="75723eadmap">
				          <area shape="rect" coords="1624,20,1698,78" href="../objects/89fe546c.html" target="element" >
				          <area shape="rect" coords="1470,310,1650,366" href="../objects/047d4566.html" target="element" >
				  		<area shape="rect" coords="1648,310,1888,420" href="../elements/3629021d.html"  target="element">
				          <area shape="rect" coords="136,724,1472,1182" href="../objects/261e8a51.html" target="element" >
				          <area shape="rect" coords="976,566,1008,614" href="../objects/172768a0.html" target="element" >
				          <area shape="rect" coords="466,556,498,604" href="../objects/7398070e.html" target="element" >
				          <area shape="rect" coords="976,342,1008,390" href="../objects/8632bf4e.html" target="element" >
				          <area shape="rect" coords="466,342,498,390" href="../objects/d15aec9b.html" target="element" >
				  		        <area shape="rect" coords="400,570,432,618" href="../objects/2593cbbc.html" target="element" >
				  		        <area shape="rect" coords="240,462,272,510" href="../objects/f82701c5.html" target="element" >
				  				<area shape="rect" coords="136,508,376,618" href="../elements/e20b763b.html"  target="element">

				  		<area shape="rect" coords="112,124,450,726" href="../elements/e7e0daee.html"  target="element">
				  				<area shape="rect" coords="568,532,906,666" href="../elements/573e720e.html"  target="element">
				  				<area shape="rect" coords="568,316,906,450" href="../elements/e62256cf.html"  target="element">

				  		<area shape="rect" coords="496,124,956,726" href="../elements/5eb298c9.html"  target="element">
				  				<area shape="rect" coords="1096,532,1434,666" href="../elements/b14aea17.html"  target="element">
				  				<area shape="rect" coords="1096,316,1434,450" href="../elements/f6259181.html"  target="element">

				  		<area shape="rect" coords="1024,124,1472,726" href="../elements/e38e5a73.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e38e5a73.html" target="element"> Andes </a> </td>
											    <td> <a href="../elements/e38e5a73.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f6259181.html" target="element"> Servicio solicitar certificado de persona natural  </a> </td>
													    <td> <a href="../elements/f6259181.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b14aea17.html" target="element"> Servicio firmar documento persona natural </a> </td>
													    <td> <a href="../elements/b14aea17.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
											    <td> <a href="../elements/5eb298c9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e62256cf.html" target="element"> Servicio solicitar certificado de persona natural </a> </td>
													    <td> <a href="../elements/e62256cf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/573e720e.html" target="element"> Servicio firmar documento persona natural </a> </td>
													    <td> <a href="../elements/573e720e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
											    <td> <a href="../elements/e7e0daee.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e20b763b.html" target="element"> API ANDES </a> </td>
													    <td> <a href="../elements/e20b763b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/f82701c5.html" target="element">  </a> </td>
											           <td> <a href="../objects/f82701c5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/2593cbbc.html" target="element">  </a> </td>
											           <td> <a href="../objects/2593cbbc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/d15aec9b.html" target="element">  </a> </td>
									           <td> <a href="../objects/d15aec9b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/8632bf4e.html" target="element">  </a> </td>
									           <td> <a href="../objects/8632bf4e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/7398070e.html" target="element">  </a> </td>
									           <td> <a href="../objects/7398070e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/172768a0.html" target="element">  </a> </td>
									           <td> <a href="../objects/172768a0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/261e8a51.html" target="element">  </a> </td>
									           <td> <a href="../objects/261e8a51.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/3629021d.html" target="element"> Funcionario FNA </a> </td>
											    <td> <a href="../elements/3629021d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/047d4566.html" target="element">  </a> </td>
									           <td> <a href="../objects/047d4566.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/89fe546c.html" target="element">  </a> </td>
									           <td> <a href="../objects/89fe546c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/b7d4c1c1.html" target="element">  </a> </td>
																				<td> <a href="../elements/b7d4c1c1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/f6259181.html" target="element"> Servicio solicitar certificado de persona natural  </a> </td>
																				<td> <a href="../elements/3629021d.html" target="element"> Funcionario FNA </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/714c2420.html" target="element">  </a> </td>
																				<td> <a href="../elements/714c2420.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/e62256cf.html" target="element"> Servicio solicitar certificado de persona natural </a> </td>
																				<td> <a href="../elements/f6259181.html" target="element"> Servicio solicitar certificado de persona natural  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7b724713.html" target="element">  </a> </td>
																				<td> <a href="../elements/7b724713.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/573e720e.html" target="element"> Servicio firmar documento persona natural </a> </td>
																				<td> <a href="../elements/b14aea17.html" target="element"> Servicio firmar documento persona natural </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/d5a6d7d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5a6d7d6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
																		<td> <a href="../elements/573e720e.html" target="element"> Servicio firmar documento persona natural </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/756718de.html" target="element">  </a> </td>
																		<td> <a href="../elements/756718de.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
																		<td> <a href="../elements/e62256cf.html" target="element"> Servicio solicitar certificado de persona natural </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/37ac4551.html" target="element">  </a> </td>
																		<td> <a href="../elements/37ac4551.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/3629021d.html" target="element"> Funcionario FNA </a> </td>
																		<td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>