<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Diagrama Relacion de Mapeos Cob Esb</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Diagrama Relacion de Mapeos Cob Esb</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/89d6c721.png" alt="Diagrama Relacion de Mapeos Cob Esb" usemap="#89d6c721map"/>
			   <map name="89d6c721map">
				          <area shape="rect" coords="1724,2108,2494,2182" href="../objects/7bd40768.html" target="element" >
				          <area shape="rect" coords="1724,2012,2494,2086" href="../objects/731d3e30.html" target="element" >
				          <area shape="rect" coords="1724,1916,2494,1990" href="../objects/e2296500.html" target="element" >
				          <area shape="rect" coords="1724,1820,2494,1870" href="../objects/2fce5ef3.html" target="element" >
				          <area shape="rect" coords="1724,1724,2494,1798" href="../objects/ad213c48.html" target="element" >
				          <area shape="rect" coords="1724,1652,2494,1702" href="../objects/26bf253f.html" target="element" >
				          <area shape="rect" coords="1724,1580,2494,1630" href="../objects/1eb2cd3b.html" target="element" >
				          <area shape="rect" coords="1724,1508,2494,1558" href="../objects/086ae910.html" target="element" >
				          <area shape="rect" coords="1724,1436,2494,1486" href="../objects/8e3c9dd8.html" target="element" >
				          <area shape="rect" coords="1724,1364,2494,1414" href="../objects/561e3880.html" target="element" >
				          <area shape="rect" coords="1724,1292,2494,1342" href="../objects/255bf895.html" target="element" >
				          <area shape="rect" coords="1724,1172,2494,1222" href="../objects/0ea12b67.html" target="element" >
				          <area shape="rect" coords="1676,620,2446,670" href="../objects/cdb2734c.html" target="element" >
				          <area shape="rect" coords="1676,548,2446,598" href="../objects/e99ef578.html" target="element" >
				          <area shape="rect" coords="1676,452,2446,526" href="../objects/f7e971c5.html" target="element" >
				          <area shape="rect" coords="1676,380,2446,430" href="../objects/7ea8b883.html" target="element" >
				  										<area shape="rect" coords="1316,2084,1678,2134" href="../elements/c7792587.html"  target="element">
				  										<area shape="rect" coords="1316,2012,1678,2062" href="../elements/469a22b4.html"  target="element">
				  										<area shape="rect" coords="1316,1940,1678,1990" href="../elements/b61c2e0f.html"  target="element">

				  								<area shape="rect" coords="1292,1892,1702,2182" href="../elements/eb35bd1c.html"  target="element">
				  										<area shape="rect" coords="1316,1796,1678,1846" href="../elements/6a75c66c.html"  target="element">
				  										<area shape="rect" coords="1316,1724,1678,1774" href="../elements/1800b050.html"  target="element">
				  										<area shape="rect" coords="1316,1652,1678,1702" href="../elements/dc3721ca.html"  target="element">
				  										<area shape="rect" coords="1316,1580,1678,1630" href="../elements/32aa6c6b.html"  target="element">
				  										<area shape="rect" coords="1316,1508,1678,1558" href="../elements/d4088300.html"  target="element">
				  										<area shape="rect" coords="1316,1436,1678,1486" href="../elements/34a02914.html"  target="element">
				  										<area shape="rect" coords="1316,1364,1678,1414" href="../elements/999cbd97.html"  target="element">
				  										<area shape="rect" coords="1316,1292,1678,1342" href="../elements/e38bb0dc.html"  target="element">

				  								<area shape="rect" coords="1292,1244,1702,1870" href="../elements/f7c4cdb5.html"  target="element">
				  								<area shape="rect" coords="1292,1172,1702,1226" href="../elements/0e37a121.html"  target="element">

				  						<area shape="rect" coords="1268,1124,1726,2206" href="../elements/ddbc7b32.html"  target="element">

				  				<area shape="rect" coords="1124,1052,1870,2278" href="../elements/132ec7a7.html"  target="element">

				          <area shape="rect" coords="1100,956,1894,2302" href="../objects/e1cdfb87.html" target="element" >
				  						<area shape="rect" coords="164,1148,622,1198" href="../elements/7aa7becf.html"  target="element">
				  								<area shape="rect" coords="188,2060,598,2110" href="../elements/49551ce3.html"  target="element">
				  								<area shape="rect" coords="188,1916,598,1966" href="../elements/5d4286db.html"  target="element">
				  								<area shape="rect" coords="188,1988,598,2038" href="../elements/9ec6df30.html"  target="element">

				  						<area shape="rect" coords="164,1868,622,2134" href="../elements/b0c559ae.html"  target="element">
				  								<area shape="rect" coords="188,1484,598,1534" href="../elements/388d0f2d.html"  target="element">
				  								<area shape="rect" coords="188,1700,598,1750" href="../elements/27384962.html"  target="element">
				  								<area shape="rect" coords="188,1268,598,1318" href="../elements/4b84053a.html"  target="element">
				  								<area shape="rect" coords="186,1556,602,1606" href="../elements/698c45f2.html"  target="element">
				  								<area shape="rect" coords="188,1628,598,1678" href="../elements/797ae3e6.html"  target="element">
				  								<area shape="rect" coords="188,1340,598,1390" href="../elements/3ba724ec.html"  target="element">
				  								<area shape="rect" coords="188,1412,598,1462" href="../elements/a0275d74.html"  target="element">
				  								<area shape="rect" coords="188,1772,598,1822" href="../elements/18bf90a8.html"  target="element">

				  						<area shape="rect" coords="164,1220,622,1846" href="../elements/c0590f01.html"  target="element">

				  				<area shape="rect" coords="44,1076,766,2278" href="../elements/7315dc7c.html"  target="element">

				          <area shape="rect" coords="20,956,790,2302" href="../objects/3f5c3b97.html" target="element" >
				          <area shape="rect" coords="20,860,526,934" href="../objects/436384d0.html" target="element" >
				          <area shape="rect" coords="20,20,526,94" href="../objects/3731de0c.html" target="element" >
				  								<area shape="rect" coords="1388,380,1606,434" href="../elements/d575661c.html"  target="element">

				  						<area shape="rect" coords="1364,332,1632,442" href="../elements/5f7d451b.html"  target="element">
				  						<area shape="rect" coords="1364,596,1632,646" href="../elements/d4724a39.html"  target="element">
				  						<area shape="rect" coords="1364,524,1632,574" href="../elements/37ccd5a4.html"  target="element">
				  						<area shape="rect" coords="1364,452,1632,502" href="../elements/1c04d67d.html"  target="element">

				  				<area shape="rect" coords="1172,260,1846,694" href="../elements/15884840.html"  target="element">

				          <area shape="rect" coords="1100,116,1894,814" href="../objects/736e4832.html" target="element" >
				  								<area shape="rect" coords="182,644,448,694" href="../elements/9805a701.html"  target="element">

				  						<area shape="rect" coords="158,596,508,706" href="../elements/e408b102.html"  target="element">
				  								<area shape="rect" coords="182,428,448,478" href="../elements/934b9791.html"  target="element">
				  								<area shape="rect" coords="182,500,448,550" href="../elements/0d97bcba.html"  target="element">

				  						<area shape="rect" coords="158,380,508,572" href="../elements/229e4fc1.html"  target="element">
				  						<area shape="rect" coords="164,308,502,358" href="../elements/bd54bf5f.html"  target="element">

				  				<area shape="rect" coords="68,260,646,766" href="../elements/8f22e4d2.html"  target="element">

				          <area shape="rect" coords="20,116,694,814" href="../objects/cfb92465.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/cfb92465.html" target="element"> ESB </a> </td>
									           <td> <a href="../objects/cfb92465.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8f22e4d2.html" target="element"> CuentaAVC_RecuperarMovimientos </a> </td>
													    <td> <a href="../elements/8f22e4d2.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/bd54bf5f.html" target="element"> IdCuentaAvc </a> </td>
															    <td> <a href="../elements/bd54bf5f.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/229e4fc1.html" target="element"> Rango Fecha  </a> </td>
															    <td> <a href="../elements/229e4fc1.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0d97bcba.html" target="element"> fechaFinal </a> </td>
																	    <td> <a href="../elements/0d97bcba.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/934b9791.html" target="element"> fechaInicial </a> </td>
																	    <td> <a href="../elements/934b9791.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/e408b102.html" target="element"> Rango Paginacion </a> </td>
															    <td> <a href="../elements/e408b102.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/9805a701.html" target="element"> ultimaPaginacion </a> </td>
																	    <td> <a href="../elements/9805a701.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/736e4832.html" target="element"> Cobis </a> </td>
									           <td> <a href="../objects/736e4832.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/15884840.html" target="element"> CONSULTARMOVIMIENTOSCUENTAAVC </a> </td>
													    <td> <a href="../elements/15884840.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/1c04d67d.html" target="element"> ultimoSecuencial </a> </td>
															    <td> <a href="../elements/1c04d67d.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/37ccd5a4.html" target="element"> fechaInical </a> </td>
															    <td> <a href="../elements/37ccd5a4.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d4724a39.html" target="element"> fechaFinal </a> </td>
															    <td> <a href="../elements/d4724a39.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5f7d451b.html" target="element"> CuentaAvc </a> </td>
															    <td> <a href="../elements/5f7d451b.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/d575661c.html" target="element"> numero </a> </td>
																	    <td> <a href="../elements/d575661c.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/3731de0c.html" target="element">  </a> </td>
									           <td> <a href="../objects/3731de0c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/436384d0.html" target="element">  </a> </td>
									           <td> <a href="../objects/436384d0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/3f5c3b97.html" target="element"> ESB </a> </td>
									           <td> <a href="../objects/3f5c3b97.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/7315dc7c.html" target="element"> CuentaAVC_RecuperarMovimientos </a> </td>
													    <td> <a href="../elements/7315dc7c.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/c0590f01.html" target="element"> movimientos </a> </td>
															    <td> <a href="../elements/c0590f01.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/18bf90a8.html" target="element"> saldo </a> </td>
																	    <td> <a href="../elements/18bf90a8.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/a0275d74.html" target="element"> fechaProceso </a> </td>
																	    <td> <a href="../elements/a0275d74.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/3ba724ec.html" target="element"> fecha </a> </td>
																	    <td> <a href="../elements/3ba724ec.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/797ae3e6.html" target="element"> montoCredito </a> </td>
																	    <td> <a href="../elements/797ae3e6.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/698c45f2.html" target="element"> montoDebito </a> </td>
																	    <td> <a href="../elements/698c45f2.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/4b84053a.html" target="element"> numeroMovimiento </a> </td>
																	    <td> <a href="../elements/4b84053a.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/27384962.html" target="element"> montoTotal </a> </td>
																	    <td> <a href="../elements/27384962.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/388d0f2d.html" target="element"> concepto </a> </td>
																	    <td> <a href="../elements/388d0f2d.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/b0c559ae.html" target="element"> RangoPaginacion </a> </td>
															    <td> <a href="../elements/b0c559ae.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/9ec6df30.html" target="element"> numeroMovimientoFinal </a> </td>
																	    <td> <a href="../elements/9ec6df30.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/5d4286db.html" target="element"> numeroMovimientoInicial </a> </td>
																	    <td> <a href="../elements/5d4286db.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/49551ce3.html" target="element"> numeroTotalMovimientos </a> </td>
																	    <td> <a href="../elements/49551ce3.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/7aa7becf.html" target="element"> idCuentaAvc </a> </td>
															    <td> <a href="../elements/7aa7becf.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/e1cdfb87.html" target="element"> Cobis </a> </td>
									           <td> <a href="../objects/e1cdfb87.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/132ec7a7.html" target="element"> CONSULTARMOVIMIENTOSCUENTAAVC (copy) </a> </td>
													    <td> <a href="../elements/132ec7a7.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/ddbc7b32.html" target="element"> Movimiento AVC </a> </td>
															    <td> <a href="../elements/ddbc7b32.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0e37a121.html" target="element"> numero </a> </td>
																	    <td> <a href="../elements/0e37a121.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/f7c4cdb5.html" target="element"> Movimiento </a> </td>
																	    <td> <a href="../elements/f7c4cdb5.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/e38bb0dc.html" target="element"> secuencial </a> </td>
																			    <td> <a href="../elements/e38bb0dc.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/999cbd97.html" target="element"> fechaMovimiento </a> </td>
																			    <td> <a href="../elements/999cbd97.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/34a02914.html" target="element"> FechaProceso </a> </td>
																			    <td> <a href="../elements/34a02914.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/d4088300.html" target="element"> concepto </a> </td>
																			    <td> <a href="../elements/d4088300.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/32aa6c6b.html" target="element"> debito </a> </td>
																			    <td> <a href="../elements/32aa6c6b.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/dc3721ca.html" target="element"> credito </a> </td>
																			    <td> <a href="../elements/dc3721ca.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/1800b050.html" target="element"> valor </a> </td>
																			    <td> <a href="../elements/1800b050.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/6a75c66c.html" target="element"> saldoFinal </a> </td>
																			    <td> <a href="../elements/6a75c66c.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																	
																	<tr>
																	    <td> <a href="../elements/eb35bd1c.html" target="element"> paginacion </a> </td>
																	    <td> <a href="../elements/eb35bd1c.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/b61c2e0f.html" target="element"> secuencialInicial </a> </td>
																			    <td> <a href="../elements/b61c2e0f.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/469a22b4.html" target="element"> secuencialFinal </a> </td>
																			    <td> <a href="../elements/469a22b4.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																			<tr>
																			    <td> <a href="../elements/c7792587.html" target="element"> numeroRegistros </a> </td>
																			    <td> <a href="../elements/c7792587.html" target="element" class="i18n-elementtype-BusinessInterface"> </a> </td>
																			</tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/7ea8b883.html" target="element">  </a> </td>
									           <td> <a href="../objects/7ea8b883.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/f7e971c5.html" target="element">  </a> </td>
									           <td> <a href="../objects/f7e971c5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/e99ef578.html" target="element">  </a> </td>
									           <td> <a href="../objects/e99ef578.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/cdb2734c.html" target="element">  </a> </td>
									           <td> <a href="../objects/cdb2734c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/0ea12b67.html" target="element">  </a> </td>
									           <td> <a href="../objects/0ea12b67.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/255bf895.html" target="element">  </a> </td>
									           <td> <a href="../objects/255bf895.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/561e3880.html" target="element">  </a> </td>
									           <td> <a href="../objects/561e3880.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/8e3c9dd8.html" target="element">  </a> </td>
									           <td> <a href="../objects/8e3c9dd8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/086ae910.html" target="element">  </a> </td>
									           <td> <a href="../objects/086ae910.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/1eb2cd3b.html" target="element">  </a> </td>
									           <td> <a href="../objects/1eb2cd3b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/26bf253f.html" target="element">  </a> </td>
									           <td> <a href="../objects/26bf253f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/ad213c48.html" target="element">  </a> </td>
									           <td> <a href="../objects/ad213c48.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/2fce5ef3.html" target="element">  </a> </td>
									           <td> <a href="../objects/2fce5ef3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/e2296500.html" target="element">  </a> </td>
									           <td> <a href="../objects/e2296500.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/731d3e30.html" target="element">  </a> </td>
									           <td> <a href="../objects/731d3e30.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/7bd40768.html" target="element">  </a> </td>
									           <td> <a href="../objects/7bd40768.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/14afa445.html" target="element">  </a> </td>
																						<td> <a href="../elements/14afa445.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/bd54bf5f.html" target="element"> IdCuentaAvc </a> </td>
																						<td> <a href="../elements/d575661c.html" target="element"> numero </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/10dab5d9.html" target="element">  </a> </td>
																								<td> <a href="../elements/10dab5d9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/0d97bcba.html" target="element"> fechaFinal </a> </td>
																								<td> <a href="../elements/d4724a39.html" target="element"> fechaFinal </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/c7e29397.html" target="element">  </a> </td>
																								<td> <a href="../elements/c7e29397.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/934b9791.html" target="element"> fechaInicial </a> </td>
																								<td> <a href="../elements/37ccd5a4.html" target="element"> fechaInical </a> </td>
																							</tr>

															
																							<tr>
																								<td> <a href="../elements/f995ceab.html" target="element">  </a> </td>
																								<td> <a href="../elements/f995ceab.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/9805a701.html" target="element"> ultimaPaginacion </a> </td>
																								<td> <a href="../elements/1c04d67d.html" target="element"> ultimoSecuencial </a> </td>
																							</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																							<tr>
																								<td> <a href="../elements/b0d9721f.html" target="element">  </a> </td>
																								<td> <a href="../elements/b0d9721f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																								<td> <a href="../elements/0e37a121.html" target="element"> numero </a> </td>
																								<td> <a href="../elements/7aa7becf.html" target="element"> idCuentaAvc </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/7fb28446.html" target="element">  </a> </td>
																										<td> <a href="../elements/7fb28446.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/e38bb0dc.html" target="element"> secuencial </a> </td>
																										<td> <a href="../elements/4b84053a.html" target="element"> numeroMovimiento </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/7418664f.html" target="element">  </a> </td>
																										<td> <a href="../elements/7418664f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/999cbd97.html" target="element"> fechaMovimiento </a> </td>
																										<td> <a href="../elements/3ba724ec.html" target="element"> fecha </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/c54409d1.html" target="element">  </a> </td>
																										<td> <a href="../elements/c54409d1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/34a02914.html" target="element"> FechaProceso </a> </td>
																										<td> <a href="../elements/a0275d74.html" target="element"> fechaProceso </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/ca5c989c.html" target="element">  </a> </td>
																										<td> <a href="../elements/ca5c989c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/d4088300.html" target="element"> concepto </a> </td>
																										<td> <a href="../elements/388d0f2d.html" target="element"> concepto </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/a1f549d4.html" target="element">  </a> </td>
																										<td> <a href="../elements/a1f549d4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/32aa6c6b.html" target="element"> debito </a> </td>
																										<td> <a href="../elements/698c45f2.html" target="element"> montoDebito </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/c859f73d.html" target="element">  </a> </td>
																										<td> <a href="../elements/c859f73d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/dc3721ca.html" target="element"> credito </a> </td>
																										<td> <a href="../elements/797ae3e6.html" target="element"> montoCredito </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/41e89052.html" target="element">  </a> </td>
																										<td> <a href="../elements/41e89052.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/1800b050.html" target="element"> valor </a> </td>
																										<td> <a href="../elements/27384962.html" target="element"> montoTotal </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/407d0f9c.html" target="element">  </a> </td>
																										<td> <a href="../elements/407d0f9c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/6a75c66c.html" target="element"> saldoFinal </a> </td>
																										<td> <a href="../elements/18bf90a8.html" target="element"> saldo </a> </td>
																									</tr>

																	
																									<tr>
																										<td> <a href="../elements/fa5e00df.html" target="element">  </a> </td>
																										<td> <a href="../elements/fa5e00df.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/b61c2e0f.html" target="element"> secuencialInicial </a> </td>
																										<td> <a href="../elements/5d4286db.html" target="element"> numeroMovimientoInicial </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/d369008a.html" target="element">  </a> </td>
																										<td> <a href="../elements/d369008a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/469a22b4.html" target="element"> secuencialFinal </a> </td>
																										<td> <a href="../elements/9ec6df30.html" target="element"> numeroMovimientoFinal </a> </td>
																									</tr>

																									<tr>
																										<td> <a href="../elements/5afa3ff6.html" target="element">  </a> </td>
																										<td> <a href="../elements/5afa3ff6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																										<td> <a href="../elements/c7792587.html" target="element"> numeroRegistros </a> </td>
																										<td> <a href="../elements/49551ce3.html" target="element"> numeroTotalMovimientos </a> </td>
																									</tr>

																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>