<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Solucion PKI Andes v2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Solucion PKI Andes v2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8ad9f9f2.png" alt="Arquitectura Solucion PKI Andes v2" usemap="#8ad9f9f2map"/>
			   <map name="8ad9f9f2map">
				          <area shape="rect" coords="20,44,214,166" href="../objects/92549120.html" target="element" >
				  		<area shape="rect" coords="444,316,698,438" href="../elements/120d1c92.html"  target="element">
				          <area shape="rect" coords="258,20,742,190" href="../objects/2adde6a8.html" target="element" >
				          <area shape="rect" coords="428,236,454,290" href="../objects/e9b12a8b.html" target="element" >
				  		<area shape="rect" coords="20,208,260,318" href="../elements/e0196690.html"  target="element">
				  		<area shape="rect" coords="452,188,692,298" href="../elements/fb00be7b.html"  target="element">
				  				<area shape="rect" coords="2034,1388,2372,1522" href="../elements/eda04c70.html"  target="element">
				  				<area shape="rect" coords="2034,1100,2372,1234" href="../elements/7dc04ec1.html"  target="element">

				  		<area shape="rect" coords="1962,1028,2422,1534" href="../elements/7159ee18.html"  target="element">
				          <area shape="rect" coords="1644,1100,2014,1216" href="../objects/c34312fa.html" target="element" >
				          <area shape="rect" coords="308,1130,766,1276" href="../objects/8eeff4d5.html" target="element" >
				          <area shape="rect" coords="312,1316,766,1462" href="../objects/f8552447.html" target="element" >
				          <area shape="rect" coords="2828,1172,3142,1212" href="../objects/d5e33a76.html" target="element" >
				  		<area shape="rect" coords="3140,1172,3380,1282" href="../elements/cba9053b.html"  target="element">
				          <area shape="rect" coords="1628,1436,1998,1582" href="../objects/2465545f.html" target="element" >
				          <area shape="rect" coords="308,548,766,646" href="../objects/88c5d61e.html" target="element" >
				  		<area shape="rect" coords="44,428,284,1534" href="../elements/e7e0daee.html"  target="element">
				          <area shape="rect" coords="308,836,766,1006" href="../objects/004eac0d.html" target="element" >
				          <area shape="rect" coords="308,668,766,808" href="../objects/11b630a3.html" target="element" >
				          <area shape="rect" coords="1644,860,2014,954" href="../objects/6f1ac5f4.html" target="element" >
				          <area shape="rect" coords="1628,260,1998,330" href="../objects/10055eb7.html" target="element" >
				          <area shape="rect" coords="1628,140,1998,210" href="../objects/5c15e508.html" target="element" >
				  				<area shape="rect" coords="2468,1244,2806,1318" href="../elements/58fd3b17.html"  target="element">
				  		        <area shape="rect" coords="2468,880,2494,934" href="../objects/1908eaab.html" target="element" >
				  				<area shape="rect" coords="2468,1388,2806,1522" href="../elements/b14aea17.html"  target="element">
				  				<area shape="rect" coords="2468,1100,2806,1234" href="../elements/f6259181.html"  target="element">
				  				<area shape="rect" coords="2468,932,2806,1042" href="../elements/9b496931.html"  target="element">

				  		<area shape="rect" coords="2420,20,2830,1534" href="../elements/81362f44.html"  target="element">
				  		        <area shape="rect" coords="812,332,838,386" href="../objects/6f3b8801.html" target="element" >
				  				<area shape="rect" coords="1340,884,1628,958" href="../elements/087de07b.html"  target="element">
				  				<area shape="rect" coords="1388,452,1628,610" href="../elements/6892b209.html"  target="element">
				  				<area shape="rect" coords="1340,788,1628,862" href="../elements/5e12e1ad.html"  target="element">
				  				<area shape="rect" coords="1340,716,1628,766" href="../elements/452cfd34.html"  target="element">
				  				<area shape="rect" coords="1340,644,1628,694" href="../elements/209ae758.html"  target="element">
				  				        <area shape="rect" coords="830,264,1054,310" href="../objects/68a728fb.html" target="element" >

				  				<area shape="rect" coords="812,116,1078,334" href="../elements/96d9b32c.html"  target="element">
				  						<area shape="rect" coords="836,1316,1174,1450" href="../elements/573e720e.html"  target="element">
				  						<area shape="rect" coords="836,1148,1174,1282" href="../elements/e62256cf.html"  target="element">
				  						<area shape="rect" coords="836,860,1076,970" href="../elements/9fc6255f.html"  target="element">
				  						<area shape="rect" coords="836,716,1076,826" href="../elements/2cfefbe3.html"  target="element">
				  						<area shape="rect" coords="836,572,1076,682" href="../elements/ffb4f2e1.html"  target="element">

				  				<area shape="rect" coords="812,500,1246,1486" href="../elements/e2a6b7b7.html"  target="element">
				  						<area shape="rect" coords="1316,164,1510,262" href="../elements/37e6e79b.html"  target="element">
				  						<area shape="rect" coords="1316,284,1510,406" href="../elements/13ed8ea0.html"  target="element">

				  				<area shape="rect" coords="1124,92,1540,430" href="../elements/7f31001d.html"  target="element">

				  		<area shape="rect" coords="764,20,1630,1534" href="../elements/58733f8f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/58733f8f.html" target="element"> Componente PKI FNA </a> </td>
											    <td> <a href="../elements/58733f8f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7f31001d.html" target="element"> Api Andes </a> </td>
													    <td> <a href="../elements/7f31001d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/13ed8ea0.html" target="element"> FirmaPdf  </a> </td>
															    <td> <a href="../elements/13ed8ea0.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/37e6e79b.html" target="element"> Estampa de Tiempo  </a> </td>
															    <td> <a href="../elements/37e6e79b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/e2a6b7b7.html" target="element"> Capa de Servicio WEB </a> </td>
													    <td> <a href="../elements/e2a6b7b7.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/ffb4f2e1.html" target="element"> Estampa de Tiempo no documentos </a> </td>
															    <td> <a href="../elements/ffb4f2e1.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/2cfefbe3.html" target="element"> Frima de PDF </a> </td>
															    <td> <a href="../elements/2cfefbe3.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/9fc6255f.html" target="element"> Envio Correo Seguro  </a> </td>
															    <td> <a href="../elements/9fc6255f.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/e62256cf.html" target="element"> Servicio solicitar certificado de persona natural </a> </td>
															    <td> <a href="../elements/e62256cf.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/573e720e.html" target="element"> Servicio firmar documento persona natural </a> </td>
															    <td> <a href="../elements/573e720e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/96d9b32c.html" target="element"> Almacenamiento de Firmas Digitales FNA </a> </td>
													    <td> <a href="../elements/96d9b32c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													        <tr>
													           <td> <a href="../objects/68a728fb.html" target="element">  </a> </td>
													           <td> <a href="../objects/68a728fb.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
													        </tr>

													
													<tr>
													    <td> <a href="../elements/209ae758.html" target="element"> Seguridad </a> </td>
													    <td> <a href="../elements/209ae758.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/452cfd34.html" target="element"> Logs </a> </td>
													    <td> <a href="../elements/452cfd34.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5e12e1ad.html" target="element"> Parametrizaci&#243;n de atributos  </a> </td>
													    <td> <a href="../elements/5e12e1ad.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6892b209.html" target="element"> Core Logica Componente </a> </td>
													    <td> <a href="../elements/6892b209.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/087de07b.html" target="element"> Manejo Concurrencia </a> </td>
													    <td> <a href="../elements/087de07b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/6f3b8801.html" target="element">  </a> </td>
											           <td> <a href="../objects/6f3b8801.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/81362f44.html" target="element"> Andes </a> </td>
											    <td> <a href="../elements/81362f44.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9b496931.html" target="element"> Servicio correo seguro  </a> </td>
													    <td> <a href="../elements/9b496931.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f6259181.html" target="element"> Servicio solicitar certificado de persona natural  </a> </td>
													    <td> <a href="../elements/f6259181.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b14aea17.html" target="element"> Servicio firmar documento persona natural </a> </td>
													    <td> <a href="../elements/b14aea17.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/1908eaab.html" target="element">  </a> </td>
											           <td> <a href="../objects/1908eaab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

													<tr>
													    <td> <a href="../elements/58fd3b17.html" target="element"> ConsultarCertRequest </a> </td>
													    <td> <a href="../elements/58fd3b17.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/5c15e508.html" target="element">  </a> </td>
									           <td> <a href="../objects/5c15e508.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/10055eb7.html" target="element">  </a> </td>
									           <td> <a href="../objects/10055eb7.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/6f1ac5f4.html" target="element">  </a> </td>
									           <td> <a href="../objects/6f1ac5f4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/11b630a3.html" target="element">  </a> </td>
									           <td> <a href="../objects/11b630a3.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/004eac0d.html" target="element">  </a> </td>
									           <td> <a href="../objects/004eac0d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
											    <td> <a href="../elements/e7e0daee.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/88c5d61e.html" target="element">  </a> </td>
									           <td> <a href="../objects/88c5d61e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/2465545f.html" target="element">  </a> </td>
									           <td> <a href="../objects/2465545f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/cba9053b.html" target="element"> Persona Natural Cliente FNA </a> </td>
											    <td> <a href="../elements/cba9053b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/d5e33a76.html" target="element">  </a> </td>
									           <td> <a href="../objects/d5e33a76.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/f8552447.html" target="element">  </a> </td>
									           <td> <a href="../objects/f8552447.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/8eeff4d5.html" target="element">  </a> </td>
									           <td> <a href="../objects/8eeff4d5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/c34312fa.html" target="element">  </a> </td>
									           <td> <a href="../objects/c34312fa.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/7159ee18.html" target="element"> ESB-IBM (copy) </a> </td>
											    <td> <a href="../elements/7159ee18.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7dc04ec1.html" target="element"> Servicio solicitar certificado de persona natural (copy) </a> </td>
													    <td> <a href="../elements/7dc04ec1.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/eda04c70.html" target="element"> Servicio firmar documento persona natural (copy) </a> </td>
													    <td> <a href="../elements/eda04c70.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/fb00be7b.html" target="element"> Llave de Firmado Local USB </a> </td>
											    <td> <a href="../elements/fb00be7b.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e0196690.html" target="element"> Funcionario FNA </a> </td>
											    <td> <a href="../elements/e0196690.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/e9b12a8b.html" target="element">  </a> </td>
									           <td> <a href="../objects/e9b12a8b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/2adde6a8.html" target="element">  </a> </td>
									           <td> <a href="../objects/2adde6a8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/120d1c92.html" target="element"> Pc Funcionario </a> </td>
											    <td> <a href="../elements/120d1c92.html" target="element" class="i18n-elementtype-Device"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/92549120.html" target="element">  </a> </td>
									           <td> <a href="../objects/92549120.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/c15ded70.html" target="element">  </a> </td>
																		<td> <a href="../elements/c15ded70.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/58733f8f.html" target="element"> Componente PKI FNA </a> </td>
																		<td> <a href="../elements/087de07b.html" target="element"> Manejo Concurrencia </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f39df10d.html" target="element">  </a> </td>
																				<td> <a href="../elements/f39df10d.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/7f31001d.html" target="element"> Api Andes </a> </td>
																				<td> <a href="../elements/37e6e79b.html" target="element"> Estampa de Tiempo  </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/c692ab4c.html" target="element">  </a> </td>
																						<td> <a href="../elements/c692ab4c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/13ed8ea0.html" target="element"> FirmaPdf  </a> </td>
																						<td> <a href="../elements/81362f44.html" target="element"> Andes </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/c1400716.html" target="element">  </a> </td>
																						<td> <a href="../elements/c1400716.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/37e6e79b.html" target="element"> Estampa de Tiempo  </a> </td>
																						<td> <a href="../elements/81362f44.html" target="element"> Andes </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/a2e1af5c.html" target="element">  </a> </td>
																						<td> <a href="../elements/a2e1af5c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/37e6e79b.html" target="element"> Estampa de Tiempo  </a> </td>
																						<td> <a href="../elements/96d9b32c.html" target="element"> Almacenamiento de Firmas Digitales FNA </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/14c181ed.html" target="element">  </a> </td>
																						<td> <a href="../elements/14c181ed.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/ffb4f2e1.html" target="element"> Estampa de Tiempo no documentos </a> </td>
																						<td> <a href="../elements/37e6e79b.html" target="element"> Estampa de Tiempo  </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/7bc22476.html" target="element">  </a> </td>
																						<td> <a href="../elements/7bc22476.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/2cfefbe3.html" target="element"> Frima de PDF </a> </td>
																						<td> <a href="../elements/13ed8ea0.html" target="element"> FirmaPdf  </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/1e32ff94.html" target="element">  </a> </td>
																						<td> <a href="../elements/1e32ff94.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/9fc6255f.html" target="element"> Envio Correo Seguro  </a> </td>
																						<td> <a href="../elements/9b496931.html" target="element"> Servicio correo seguro  </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/4bcfeb63.html" target="element">  </a> </td>
																						<td> <a href="../elements/4bcfeb63.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/e62256cf.html" target="element"> Servicio solicitar certificado de persona natural </a> </td>
																						<td> <a href="../elements/7dc04ec1.html" target="element"> Servicio solicitar certificado de persona natural (copy) </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/3db59bb4.html" target="element">  </a> </td>
																						<td> <a href="../elements/3db59bb4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/573e720e.html" target="element"> Servicio firmar documento persona natural </a> </td>
																						<td> <a href="../elements/13ed8ea0.html" target="element"> FirmaPdf  </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/50d8a5ae.html" target="element">  </a> </td>
																						<td> <a href="../elements/50d8a5ae.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/573e720e.html" target="element"> Servicio firmar documento persona natural </a> </td>
																						<td> <a href="../elements/eda04c70.html" target="element"> Servicio firmar documento persona natural (copy) </a> </td>
																					</tr>

													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													
																			<tr>
																				<td> <a href="../elements/708e1a8f.html" target="element">  </a> </td>
																				<td> <a href="../elements/708e1a8f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/6892b209.html" target="element"> Core Logica Componente </a> </td>
																				<td> <a href="../elements/e2a6b7b7.html" target="element"> Capa de Servicio WEB </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fef79b84.html" target="element">  </a> </td>
																				<td> <a href="../elements/fef79b84.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/6892b209.html" target="element"> Core Logica Componente </a> </td>
																				<td> <a href="../elements/13ed8ea0.html" target="element"> FirmaPdf  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fc6a798f.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc6a798f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/6892b209.html" target="element"> Core Logica Componente </a> </td>
																				<td> <a href="../elements/209ae758.html" target="element"> Seguridad </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2e234622.html" target="element">  </a> </td>
																				<td> <a href="../elements/2e234622.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/6892b209.html" target="element"> Core Logica Componente </a> </td>
																				<td> <a href="../elements/5e12e1ad.html" target="element"> Parametrizaci&#243;n de atributos  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1ce80f08.html" target="element">  </a> </td>
																				<td> <a href="../elements/1ce80f08.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/6892b209.html" target="element"> Core Logica Componente </a> </td>
																				<td> <a href="../elements/452cfd34.html" target="element"> Logs </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e5d99c0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/e5d99c0e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/087de07b.html" target="element"> Manejo Concurrencia </a> </td>
																				<td> <a href="../elements/6892b209.html" target="element"> Core Logica Componente </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																			<tr>
																				<td> <a href="../elements/5ffcb30d.html" target="element">  </a> </td>
																				<td> <a href="../elements/5ffcb30d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/f6259181.html" target="element"> Servicio solicitar certificado de persona natural  </a> </td>
																				<td> <a href="../elements/cba9053b.html" target="element"> Persona Natural Cliente FNA </a> </td>
																			</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/bd7209a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd7209a7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
																		<td> <a href="../elements/2cfefbe3.html" target="element"> Frima de PDF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2508ce4.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2508ce4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
																		<td> <a href="../elements/ffb4f2e1.html" target="element"> Estampa de Tiempo no documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c3459a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c3459a2.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
																		<td> <a href="../elements/9fc6255f.html" target="element"> Envio Correo Seguro  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d5a6d7d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5a6d7d6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
																		<td> <a href="../elements/573e720e.html" target="element"> Servicio firmar documento persona natural </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/756718de.html" target="element">  </a> </td>
																		<td> <a href="../elements/756718de.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
																		<td> <a href="../elements/e62256cf.html" target="element"> Servicio solicitar certificado de persona natural </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																			<tr>
																				<td> <a href="../elements/037aea31.html" target="element">  </a> </td>
																				<td> <a href="../elements/037aea31.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/7dc04ec1.html" target="element"> Servicio solicitar certificado de persona natural (copy) </a> </td>
																				<td> <a href="../elements/f6259181.html" target="element"> Servicio solicitar certificado de persona natural  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/966a6028.html" target="element">  </a> </td>
																				<td> <a href="../elements/966a6028.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/eda04c70.html" target="element"> Servicio firmar documento persona natural (copy) </a> </td>
																				<td> <a href="../elements/b14aea17.html" target="element"> Servicio firmar documento persona natural </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/9aa85ba7.html" target="element">  </a> </td>
																		<td> <a href="../elements/9aa85ba7.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/e0196690.html" target="element"> Funcionario FNA </a> </td>
																		<td> <a href="../elements/e7e0daee.html" target="element"> Consumidores FNA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4e62a20.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4e62a20.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/e0196690.html" target="element"> Funcionario FNA </a> </td>
																		<td> <a href="../elements/120d1c92.html" target="element"> Pc Funcionario </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/ddc49128.html" target="element">  </a> </td>
																		<td> <a href="../elements/ddc49128.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/120d1c92.html" target="element"> Pc Funcionario </a> </td>
																		<td> <a href="../elements/fb00be7b.html" target="element"> Llave de Firmado Local USB </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>