<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Ciclo de vida produccion</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Ciclo de vida produccion</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c454ebb8.png" alt="Ciclo de vida produccion" usemap="#c454ebb8map"/>
			   <map name="c454ebb8map">
				  		<area shape="rect" coords="1316,776,1556,886" href="../elements/4935570d.html"  target="element">
				  		<area shape="rect" coords="20,788,260,898" href="../elements/3c28a64e.html"  target="element">
				          <area shape="rect" coords="1148,68,1518,310" href="../objects/12a85e88.html" target="element" >
				  		<area shape="rect" coords="1316,308,1556,418" href="../elements/fb4a6609.html"  target="element">
				          <area shape="rect" coords="180,128,550,658" href="../objects/34caa91d.html" target="element" >
				          <area shape="rect" coords="1148,680,1438,766" href="../objects/703903a4.html" target="element" >
				  		<area shape="rect" coords="20,668,260,778" href="../elements/2e6a7dc9.html"  target="element">
				  		<area shape="rect" coords="20,20,260,130" href="../elements/5ad56b64.html"  target="element">
				  		<area shape="rect" coords="1316,548,1556,658" href="../elements/13c67ce1.html"  target="element">
				  				<area shape="rect" coords="596,644,1102,754" href="../elements/97b2b5f4.html"  target="element">
				  						<area shape="rect" coords="812,312,1076,382" href="../elements/6dd61707.html"  target="element">
				  								<area shape="rect" coords="692,452,1006,562" href="../elements/6edb806f.html"  target="element">

				  						<area shape="rect" coords="668,404,1030,586" href="../elements/14c9b6bd.html"  target="element">
				  						<area shape="rect" coords="860,184,1060,238" href="../elements/5b824d5c.html"  target="element">
				  						<area shape="rect" coords="750,236,950,290" href="../elements/f4fd8438.html"  target="element">
				  						<area shape="rect" coords="644,184,844,238" href="../elements/d9e9b0de.html"  target="element">

				  				<area shape="rect" coords="596,116,1102,598" href="../elements/f4266985.html"  target="element">

				  		<area shape="rect" coords="548,20,1126,886" href="../elements/79f0f7ac.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/79f0f7ac.html" target="element"> Registry WSRR Produccion </a> </td>
											    <td> <a href="../elements/79f0f7ac.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f4266985.html" target="element"> Version del Servicio  </a> </td>
													    <td> <a href="../elements/f4266985.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d9e9b0de.html" target="element"> Produccion </a> </td>
															    <td> <a href="../elements/d9e9b0de.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f4fd8438.html" target="element"> Desarrollo </a> </td>
															    <td> <a href="../elements/f4fd8438.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5b824d5c.html" target="element"> Certificacion </a> </td>
															    <td> <a href="../elements/5b824d5c.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/14c9b6bd.html" target="element"> zip </a> </td>
															    <td> <a href="../elements/14c9b6bd.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/6edb806f.html" target="element"> WSDL </a> </td>
																	    <td> <a href="../elements/6edb806f.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/6dd61707.html" target="element"> Documentaci&#243;n </a> </td>
															    <td> <a href="../elements/6dd61707.html" target="element" class="i18n-elementtype-Product"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/97b2b5f4.html" target="element"> Aplicaciones  </a> </td>
													    <td> <a href="../elements/97b2b5f4.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/13c67ce1.html" target="element"> Oficina Informatica </a> </td>
											    <td> <a href="../elements/13c67ce1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5ad56b64.html" target="element"> Custodio Cobis </a> </td>
											    <td> <a href="../elements/5ad56b64.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2e6a7dc9.html" target="element"> Custodio UT Heinsohn </a> </td>
											    <td> <a href="../elements/2e6a7dc9.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/703903a4.html" target="element">  </a> </td>
									           <td> <a href="../objects/703903a4.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/34caa91d.html" target="element">  </a> </td>
									           <td> <a href="../objects/34caa91d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/fb4a6609.html" target="element"> ASIC </a> </td>
											    <td> <a href="../elements/fb4a6609.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/12a85e88.html" target="element">  </a> </td>
									           <td> <a href="../objects/12a85e88.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/3c28a64e.html" target="element"> Custodio Otra Fabrica </a> </td>
											    <td> <a href="../elements/3c28a64e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4935570d.html" target="element"> Posibles nuevos consumidores de servicios </a> </td>
											    <td> <a href="../elements/4935570d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
															
													
											
																	<tr>
																		<td> <a href="../elements/1a88e59f.html" target="element">  </a> </td>
																		<td> <a href="../elements/1a88e59f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/13c67ce1.html" target="element"> Oficina Informatica </a> </td>
																		<td> <a href="../elements/79f0f7ac.html" target="element"> Registry WSRR Produccion </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/02c2d59a.html" target="element">  </a> </td>
																		<td> <a href="../elements/02c2d59a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/5ad56b64.html" target="element"> Custodio Cobis </a> </td>
																		<td> <a href="../elements/79f0f7ac.html" target="element"> Registry WSRR Produccion </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e2f66693.html" target="element">  </a> </td>
																		<td> <a href="../elements/e2f66693.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/2e6a7dc9.html" target="element"> Custodio UT Heinsohn </a> </td>
																		<td> <a href="../elements/79f0f7ac.html" target="element"> Registry WSRR Produccion </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/d8cacc2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d8cacc2c.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/fb4a6609.html" target="element"> ASIC </a> </td>
																		<td> <a href="../elements/79f0f7ac.html" target="element"> Registry WSRR Produccion </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/18122a06.html" target="element">  </a> </td>
																		<td> <a href="../elements/18122a06.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/3c28a64e.html" target="element"> Custodio Otra Fabrica </a> </td>
																		<td> <a href="../elements/79f0f7ac.html" target="element"> Registry WSRR Produccion </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a4a07567.html" target="element">  </a> </td>
																		<td> <a href="../elements/a4a07567.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/4935570d.html" target="element"> Posibles nuevos consumidores de servicios </a> </td>
																		<td> <a href="../elements/79f0f7ac.html" target="element"> Registry WSRR Produccion </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>