<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitecctura ESB con ambientes</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitecctura ESB con ambientes</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e5c3b2c3.png" alt="Arquitecctura ESB con ambientes" usemap="#e5c3b2c3map"/>
			   <map name="e5c3b2c3map">
				  		<area shape="rect" coords="20,716,260,826" href="../elements/02ed4fe8.html"  target="element">
				  		<area shape="rect" coords="20,380,260,490" href="../elements/d7d0b01f.html"  target="element">
				  		<area shape="rect" coords="20,92,260,202" href="../elements/2abe4eff.html"  target="element">
				  				<area shape="rect" coords="356,98,598,196" href="../elements/b33b1cd9.html"  target="element">
				  				<area shape="rect" coords="356,386,598,484" href="../elements/551b73b2.html"  target="element">
				  				<area shape="rect" coords="356,716,598,814" href="../elements/7d01f7d3.html"  target="element">
				  				<area shape="rect" coords="692,92,932,202" href="../elements/2278e205.html"  target="element">
				  				<area shape="rect" coords="692,380,932,490" href="../elements/29766ae5.html"  target="element">
				  				<area shape="rect" coords="692,716,932,826" href="../elements/6c5dc75c.html"  target="element">

				          <area shape="rect" coords="332,20,958,934" href="../objects/b8a96182.html" target="element" >
				  				<area shape="rect" coords="1094,1028,1584,1138" href="../elements/0bd6e3d7.html"  target="element">
				  				<area shape="rect" coords="1094,1148,1584,1258" href="../elements/e43163d0.html"  target="element">
				  				<area shape="rect" coords="1094,1292,1584,1402" href="../elements/e5665649.html"  target="element">
				  				<area shape="rect" coords="1652,716,1892,826" href="../elements/62057916.html"  target="element">
				  				<area shape="rect" coords="1700,134,1940,244" href="../elements/58a48550.html"  target="element">
				  				<area shape="rect" coords="1700,308,1940,418" href="../elements/6b45c8d2.html"  target="element">
				  				<area shape="rect" coords="1700,500,1940,670" href="../elements/68b57437.html"  target="element">
				  						<area shape="rect" coords="1196,788,1580,886" href="../elements/9d8fe8b4.html"  target="element">

				  				<area shape="rect" coords="1076,716,1604,910" href="../elements/af3bb45c.html"  target="element">
				  						<area shape="rect" coords="1196,452,1580,550" href="../elements/5856faef.html"  target="element">

				  				<area shape="rect" coords="1076,380,1604,574" href="../elements/104b6bad.html"  target="element">
				  						<area shape="rect" coords="1196,164,1580,262" href="../elements/71ba0811.html"  target="element">

				  				<area shape="rect" coords="1076,92,1604,286" href="../elements/59d827cf.html"  target="element">

				          <area shape="rect" coords="1052,20,1942,1462" href="../objects/5df550dd.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/5df550dd.html" target="element"> Red Interna FNA </a> </td>
									           <td> <a href="../objects/5df550dd.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/59d827cf.html" target="element"> ESB - IBM Interno Desarrollo </a> </td>
													    <td> <a href="../elements/59d827cf.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/71ba0811.html" target="element"> Adaptadores Integraci&#243;n Desarrollo  </a> </td>
															    <td> <a href="../elements/71ba0811.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/104b6bad.html" target="element"> ESB - IBM Interno Certificaci&#243;n </a> </td>
													    <td> <a href="../elements/104b6bad.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5856faef.html" target="element"> Adaptadores Integraci&#243;n Certificaci&#243;n </a> </td>
															    <td> <a href="../elements/5856faef.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/af3bb45c.html" target="element"> ESB - IBM Interno Produccion </a> </td>
													    <td> <a href="../elements/af3bb45c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9d8fe8b4.html" target="element"> Adaptadores Integraci&#243;n Certificaci&#243;n (copy) </a> </td>
															    <td> <a href="../elements/9d8fe8b4.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/68b57437.html" target="element"> BackEnds FNA Certificaci&#243;n Ofuscado  (IAAS3) </a> </td>
													    <td> <a href="../elements/68b57437.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6b45c8d2.html" target="element"> BackEnds Certificaci&#243;n FNA  </a> </td>
													    <td> <a href="../elements/6b45c8d2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/58a48550.html" target="element"> BackEnds Desarrollo FNA </a> </td>
													    <td> <a href="../elements/58a48550.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/62057916.html" target="element"> BackEnds Produccion FNA </a> </td>
													    <td> <a href="../elements/62057916.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e5665649.html" target="element"> Aplicaciones Consumidoras Internas del FNA  Produccion </a> </td>
													    <td> <a href="../elements/e5665649.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e43163d0.html" target="element"> Aplicaciones Consumidoras Internas del FNA  Certificaci&#243;n </a> </td>
													    <td> <a href="../elements/e43163d0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0bd6e3d7.html" target="element"> Aplicaciones Consumidoras Internas del FNA  Desarrollo </a> </td>
													    <td> <a href="../elements/0bd6e3d7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/b8a96182.html" target="element"> DMZ FNA </a> </td>
									           <td> <a href="../objects/b8a96182.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/6c5dc75c.html" target="element"> ESB - IBM DMZ Produccion </a> </td>
													    <td> <a href="../elements/6c5dc75c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/29766ae5.html" target="element"> ESB - IBM DMZ Certificaci&#243;n  </a> </td>
													    <td> <a href="../elements/29766ae5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2278e205.html" target="element"> ESB - IBM DMZ Desarrollo </a> </td>
													    <td> <a href="../elements/2278e205.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7d01f7d3.html" target="element"> IHS Produccion </a> </td>
													    <td> <a href="../elements/7d01f7d3.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/551b73b2.html" target="element"> IHS Certificacion </a> </td>
													    <td> <a href="../elements/551b73b2.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b33b1cd9.html" target="element"> IHS Desarrollo  </a> </td>
													    <td> <a href="../elements/b33b1cd9.html" target="element" class="i18n-elementtype-TechnologyFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/2abe4eff.html" target="element"> CRM SalesForce Desarrollo </a> </td>
											    <td> <a href="../elements/2abe4eff.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d7d0b01f.html" target="element"> CRM SalesForce Certificacion Ofuscado </a> </td>
											    <td> <a href="../elements/d7d0b01f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/02ed4fe8.html" target="element"> CRM SalesForce Produccion </a> </td>
											    <td> <a href="../elements/02ed4fe8.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/819ad1e7.html" target="element">  </a> </td>
																						<td> <a href="../elements/819ad1e7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/71ba0811.html" target="element"> Adaptadores Integraci&#243;n Desarrollo  </a> </td>
																						<td> <a href="../elements/58a48550.html" target="element"> BackEnds Desarrollo FNA </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/228fbc03.html" target="element">  </a> </td>
																						<td> <a href="../elements/228fbc03.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/5856faef.html" target="element"> Adaptadores Integraci&#243;n Certificaci&#243;n </a> </td>
																						<td> <a href="../elements/68b57437.html" target="element"> BackEnds FNA Certificaci&#243;n Ofuscado  (IAAS3) </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/00a66e36.html" target="element">  </a> </td>
																						<td> <a href="../elements/00a66e36.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/9d8fe8b4.html" target="element"> Adaptadores Integraci&#243;n Certificaci&#243;n (copy) </a> </td>
																						<td> <a href="../elements/62057916.html" target="element"> BackEnds Produccion FNA </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/1a73a52f.html" target="element">  </a> </td>
																				<td> <a href="../elements/1a73a52f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/e5665649.html" target="element"> Aplicaciones Consumidoras Internas del FNA  Produccion </a> </td>
																				<td> <a href="../elements/af3bb45c.html" target="element"> ESB - IBM Interno Produccion </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/250c9174.html" target="element">  </a> </td>
																				<td> <a href="../elements/250c9174.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/e43163d0.html" target="element"> Aplicaciones Consumidoras Internas del FNA  Certificaci&#243;n </a> </td>
																				<td> <a href="../elements/104b6bad.html" target="element"> ESB - IBM Interno Certificaci&#243;n </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/dcd3b1c7.html" target="element">  </a> </td>
																				<td> <a href="../elements/dcd3b1c7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/0bd6e3d7.html" target="element"> Aplicaciones Consumidoras Internas del FNA  Desarrollo </a> </td>
																				<td> <a href="../elements/59d827cf.html" target="element"> ESB - IBM Interno Desarrollo </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/95e57d43.html" target="element">  </a> </td>
																				<td> <a href="../elements/95e57d43.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/6c5dc75c.html" target="element"> ESB - IBM DMZ Produccion </a> </td>
																				<td> <a href="../elements/af3bb45c.html" target="element"> ESB - IBM Interno Produccion </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d0f21a72.html" target="element">  </a> </td>
																				<td> <a href="../elements/d0f21a72.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/29766ae5.html" target="element"> ESB - IBM DMZ Certificaci&#243;n  </a> </td>
																				<td> <a href="../elements/104b6bad.html" target="element"> ESB - IBM Interno Certificaci&#243;n </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4f031d7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/4f031d7f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/2278e205.html" target="element"> ESB - IBM DMZ Desarrollo </a> </td>
																				<td> <a href="../elements/59d827cf.html" target="element"> ESB - IBM Interno Desarrollo </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e7e9ac2a.html" target="element">  </a> </td>
																				<td> <a href="../elements/e7e9ac2a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/7d01f7d3.html" target="element"> IHS Produccion </a> </td>
																				<td> <a href="../elements/6c5dc75c.html" target="element"> ESB - IBM DMZ Produccion </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f0232455.html" target="element">  </a> </td>
																				<td> <a href="../elements/f0232455.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/551b73b2.html" target="element"> IHS Certificacion </a> </td>
																				<td> <a href="../elements/29766ae5.html" target="element"> ESB - IBM DMZ Certificaci&#243;n  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f1927c55.html" target="element">  </a> </td>
																				<td> <a href="../elements/f1927c55.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/b33b1cd9.html" target="element"> IHS Desarrollo  </a> </td>
																				<td> <a href="../elements/2278e205.html" target="element"> ESB - IBM DMZ Desarrollo </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/7e55658e.html" target="element">  </a> </td>
																		<td> <a href="../elements/7e55658e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/2abe4eff.html" target="element"> CRM SalesForce Desarrollo </a> </td>
																		<td> <a href="../elements/b33b1cd9.html" target="element"> IHS Desarrollo  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8cb12091.html" target="element">  </a> </td>
																		<td> <a href="../elements/8cb12091.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/d7d0b01f.html" target="element"> CRM SalesForce Certificacion Ofuscado </a> </td>
																		<td> <a href="../elements/551b73b2.html" target="element"> IHS Certificacion </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d720c51b.html" target="element">  </a> </td>
																		<td> <a href="../elements/d720c51b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/02ed4fe8.html" target="element"> CRM SalesForce Produccion </a> </td>
																		<td> <a href="../elements/7d01f7d3.html" target="element"> IHS Produccion </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>