<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Cancelacion AVC</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Cancelacion AVC</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e5f8c00a.png" alt="Arquitectura Cancelacion AVC" usemap="#e5f8c00amap"/>
			   <map name="e5f8c00amap">
				          <area shape="rect" coords="716,64,1030,138" href="../objects/6ad544b9.html" target="element" >
				          <area shape="rect" coords="1508,304,1822,440" href="../objects/97e460fc.html" target="element" >
				          <area shape="rect" coords="812,304,1126,440" href="../objects/619c6e87.html" target="element" >
				          <area shape="rect" coords="402,424,574,522" href="../objects/ad1375c8.html" target="element" >
				  		<area shape="rect" coords="572,158,790,504" href="../elements/49b9fe8e.html"  target="element">
				  				<area shape="rect" coords="1196,302,1436,412" href="../elements/02aaa840.html"  target="element">

				  		<area shape="rect" coords="1148,158,1470,504" href="../elements/5eb298c9.html"  target="element">
				  				<area shape="rect" coords="1868,304,2108,414" href="../elements/7aa8a8ad.html"  target="element">

				  		<area shape="rect" coords="1820,160,2182,504" href="../elements/e1a6fad1.html"  target="element">
				  		        <area shape="rect" coords="186,244,356,378" href="../objects/34a67102.html" target="element" >
				  				<area shape="rect" coords="116,376,356,486" href="../elements/52ccfac1.html"  target="element">

				  		<area shape="rect" coords="20,160,380,504" href="../elements/d1e49c72.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/d1e49c72.html" target="element"> Fondo En Linea </a> </td>
											    <td> <a href="../elements/d1e49c72.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/52ccfac1.html" target="element"> Almacenamiento Local </a> </td>
													    <td> <a href="../elements/52ccfac1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/34a67102.html" target="element">  </a> </td>
											           <td> <a href="../objects/34a67102.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/e1a6fad1.html" target="element"> WorkManager </a> </td>
											    <td> <a href="../elements/e1a6fad1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7aa8a8ad.html" target="element"> Cancelaci&#243;n AVC </a> </td>
													    <td> <a href="../elements/7aa8a8ad.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
											    <td> <a href="../elements/5eb298c9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/02aaa840.html" target="element"> Cancelaci&#243;n AVC WorkManager </a> </td>
													    <td> <a href="../elements/02aaa840.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/49b9fe8e.html" target="element"> Goanywhere </a> </td>
											    <td> <a href="../elements/49b9fe8e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/ad1375c8.html" target="element">  </a> </td>
									           <td> <a href="../objects/ad1375c8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/619c6e87.html" target="element">  </a> </td>
									           <td> <a href="../objects/619c6e87.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/97e460fc.html" target="element">  </a> </td>
									           <td> <a href="../objects/97e460fc.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/6ad544b9.html" target="element">  </a> </td>
									           <td> <a href="../objects/6ad544b9.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/057a3e55.html" target="element">  </a> </td>
																		<td> <a href="../elements/057a3e55.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d1e49c72.html" target="element"> Fondo En Linea </a> </td>
																		<td> <a href="../elements/52ccfac1.html" target="element"> Almacenamiento Local </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
											
																			<tr>
																				<td> <a href="../elements/9f1cb77e.html" target="element">  </a> </td>
																				<td> <a href="../elements/9f1cb77e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/02aaa840.html" target="element"> Cancelaci&#243;n AVC WorkManager </a> </td>
																				<td> <a href="../elements/7aa8a8ad.html" target="element"> Cancelaci&#243;n AVC </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/7200a143.html" target="element">  </a> </td>
																		<td> <a href="../elements/7200a143.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/49b9fe8e.html" target="element"> Goanywhere </a> </td>
																		<td> <a href="../elements/52ccfac1.html" target="element"> Almacenamiento Local </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e72bcd8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/e72bcd8e.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/49b9fe8e.html" target="element"> Goanywhere </a> </td>
																		<td> <a href="../elements/e1a6fad1.html" target="element"> WorkManager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a8a3150d.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8a3150d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/49b9fe8e.html" target="element"> Goanywhere </a> </td>
																		<td> <a href="../elements/02aaa840.html" target="element"> Cancelaci&#243;n AVC WorkManager </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>