<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura Conceptual servicios CRM</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura Conceptual servicios CRM</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f716a413.png" alt="Arquitectura Conceptual servicios CRM" usemap="#f716a413map"/>
			   <map name="f716a413map">
				  		<area shape="rect" coords="1508,380,1748,490" href="../elements/18988896.html"  target="element">
				  				<area shape="rect" coords="612,2396,894,2506" href="../elements/28b392b6.html"  target="element">
				  				<area shape="rect" coords="604,2260,904,2370" href="../elements/79caa0c0.html"  target="element">
				  				<area shape="rect" coords="604,2132,904,2242" href="../elements/d475d97d.html"  target="element">
				  				<area shape="rect" coords="604,2012,904,2122" href="../elements/90ba50c3.html"  target="element">
				  				<area shape="rect" coords="604,1892,904,2002" href="../elements/436d0892.html"  target="element">
				  				<area shape="rect" coords="604,1772,904,1882" href="../elements/ecccba54.html"  target="element">
				  				<area shape="rect" coords="604,1652,904,1762" href="../elements/e3c4b164.html"  target="element">
				  				<area shape="rect" coords="604,1532,904,1642" href="../elements/ee8e7c8d.html"  target="element">
				  				<area shape="rect" coords="604,1412,904,1522" href="../elements/059a5521.html"  target="element">
				  				<area shape="rect" coords="604,1292,904,1402" href="../elements/8f195682.html"  target="element">
				  				<area shape="rect" coords="604,1124,904,1270" href="../elements/0a8be2ef.html"  target="element">
				  				<area shape="rect" coords="604,932,904,1102" href="../elements/1bbb4414.html"  target="element">
				  						<area shape="rect" coords="644,764,884,874" href="../elements/65803b69.html"  target="element">
				  						<area shape="rect" coords="644,644,884,754" href="../elements/8e46f9c2.html"  target="element">
				  						<area shape="rect" coords="644,524,884,634" href="../elements/23685e67.html"  target="element">
				  						<area shape="rect" coords="644,404,884,514" href="../elements/20d86499.html"  target="element">
				  						<area shape="rect" coords="644,284,884,394" href="../elements/ccd72fdb.html"  target="element">
				  						<area shape="rect" coords="644,164,884,274" href="../elements/9b632f83.html"  target="element">

				  		        <area shape="rect" coords="548,116,958,910" href="../objects/ba2784c1.html" target="element" >

				  		<area shape="rect" coords="428,20,1174,2518" href="../elements/5eb298c9.html"  target="element">
				  		<area shape="rect" coords="20,20,260,2516" href="../elements/788ee317.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/788ee317.html" target="element"> Cobis </a> </td>
											    <td> <a href="../elements/788ee317.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
											    <td> <a href="../elements/5eb298c9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											        <tr>
											           <td> <a href="../objects/ba2784c1.html" target="element"> Retencion </a> </td>
											           <td> <a href="../objects/ba2784c1.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

															<tr>
															    <td> <a href="../elements/9b632f83.html" target="element"> Eliminar Solicitud de Retiro Cuenta AVC </a> </td>
															    <td> <a href="../elements/9b632f83.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ccd72fdb.html" target="element"> Crear Solicitud Retenci&#243;n para Retiro Cesant&#237;as </a> </td>
															    <td> <a href="../elements/ccd72fdb.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/20d86499.html" target="element"> Notificar retiros hechos desde Fondo En Linea </a> </td>
															    <td> <a href="../elements/20d86499.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/23685e67.html" target="element"> Modificar Solicitud de Retiro desde SF hacia COBIS </a> </td>
															    <td> <a href="../elements/23685e67.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8e46f9c2.html" target="element"> Servicio consulta detalle cesant&#237;as </a> </td>
															    <td> <a href="../elements/8e46f9c2.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/65803b69.html" target="element"> Generar Notificaci&#243;n Retenci&#243;n Total </a> </td>
															    <td> <a href="../elements/65803b69.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/1bbb4414.html" target="element"> consulta consolidada de informaci&#243;n de cliente persona natural </a> </td>
													    <td> <a href="../elements/1bbb4414.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0a8be2ef.html" target="element"> Servicio para Info Consolidada de un cliente persona Jur&#237;dica </a> </td>
													    <td> <a href="../elements/0a8be2ef.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8f195682.html" target="element"> Crear Persona Natural </a> </td>
													    <td> <a href="../elements/8f195682.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/059a5521.html" target="element"> Crear Persona Jur&#237;dica </a> </td>
													    <td> <a href="../elements/059a5521.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ee8e7c8d.html" target="element"> Modificar Persona Jur&#237;dica </a> </td>
													    <td> <a href="../elements/ee8e7c8d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e3c4b164.html" target="element"> Modificar Persona Natural </a> </td>
													    <td> <a href="../elements/e3c4b164.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ecccba54.html" target="element"> Creaci&#243;n de una cuenta AVC </a> </td>
													    <td> <a href="../elements/ecccba54.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/436d0892.html" target="element"> Creaci&#243;n R&#225;pida Persona Natural </a> </td>
													    <td> <a href="../elements/436d0892.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/90ba50c3.html" target="element"> Creaci&#243;n R&#225;pida Persona Juridica </a> </td>
													    <td> <a href="../elements/90ba50c3.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/d475d97d.html" target="element"> Consulta r&#225;pida Persona Juridica </a> </td>
													    <td> <a href="../elements/d475d97d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/79caa0c0.html" target="element"> Consulta r&#225;pida Persona Natural </a> </td>
													    <td> <a href="../elements/79caa0c0.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/28b392b6.html" target="element"> Consultar listas Inhibitorias </a> </td>
													    <td> <a href="../elements/28b392b6.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
											    <td> <a href="../elements/18988896.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/11355fc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/11355fc7.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/788ee317.html" target="element"> Cobis </a> </td>
																		<td> <a href="../elements/20d86499.html" target="element"> Notificar retiros hechos desde Fondo En Linea </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																					<tr>
																						<td> <a href="../elements/77230338.html" target="element">  </a> </td>
																						<td> <a href="../elements/77230338.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/20d86499.html" target="element"> Notificar retiros hechos desde Fondo En Linea </a> </td>
																						<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/6b7b8e38.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b7b8e38.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																		<td> <a href="../elements/5eb298c9.html" target="element"> ESB-IBM </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>