<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Diagrama Arquitectura </title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Diagrama Arquitectura </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fef05489.png" alt="Diagrama Arquitectura " usemap="#fef05489map"/>
			   <map name="fef05489map">
				  		<area shape="rect" coords="2228,570,2468,820" href="../elements/d683956a.html"  target="element">
				  		<area shape="rect" coords="1628,1004,1914,1114" href="../elements/b9585d3a.html"  target="element">
				  				<area shape="rect" coords="1848,596,2134,706" href="../elements/b61f89e7.html"  target="element">

				  		<area shape="rect" coords="1772,524,2180,818" href="../elements/06a275a5.html"  target="element">
				          <area shape="rect" coords="582,936,910,1078" href="../objects/5551cb0f.html" target="element" >
				          <area shape="rect" coords="520,956,566,1026" href="../objects/de40974a.html" target="element" >
				          <area shape="rect" coords="788,1154,1054,1264" href="../objects/4ec4bc3f.html" target="element" >
				          <area shape="rect" coords="716,1174,762,1244" href="../objects/ef05af7a.html" target="element" >
				  		<area shape="rect" coords="1052,1154,1486,1306" href="../elements/020c0d3e.html"  target="element">
				          <area shape="rect" coords="308,572,354,642" href="../objects/890b56f5.html" target="element" >
				          <area shape="rect" coords="20,572,298,668" href="../objects/a20c9812.html" target="element" >
				          <area shape="rect" coords="520,812,566,882" href="../objects/b793764e.html" target="element" >
				          <area shape="rect" coords="476,128,522,198" href="../objects/59e61089.html" target="element" >
				          <area shape="rect" coords="582,812,934,914" href="../objects/d3145810.html" target="element" >
				  		<area shape="rect" coords="452,1196,692,1306" href="../elements/9bbe7c4e.html"  target="element">
				  		<area shape="rect" coords="1028,242,1462,790" href="../elements/c7450dfa.html"  target="element">
				  		<area shape="rect" coords="2012,1004,2446,1294" href="../elements/66fb043a.html"  target="element">
				          <area shape="rect" coords="572,164,952,242" href="../objects/6578859d.html" target="element" >
				  		<area shape="rect" coords="404,20,644,130" href="../elements/8fed0d7b.html"  target="element">
				  		        <area shape="rect" coords="570,396,616,466" href="../objects/228c2cc8.html" target="element" >
				  		        <area shape="rect" coords="462,312,622,382" href="../objects/d334676a.html" target="element" >
				  				<area shape="rect" coords="620,380,814,484" href="../elements/b94000e4.html"  target="element">

				  		<area shape="rect" coords="404,260,838,790" href="../elements/90d66569.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/90d66569.html" target="element"> Portal Web </a> </td>
											    <td> <a href="../elements/90d66569.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b94000e4.html" target="element"> DB </a> </td>
													    <td> <a href="../elements/b94000e4.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											        <tr>
											           <td> <a href="../objects/d334676a.html" target="element">  </a> </td>
											           <td> <a href="../objects/d334676a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/228c2cc8.html" target="element">  </a> </td>
											           <td> <a href="../objects/228c2cc8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
											        </tr>

											
											<tr>
											    <td> <a href="../elements/8fed0d7b.html" target="element"> Consumidor Financiero/Usuario Web </a> </td>
											    <td> <a href="../elements/8fed0d7b.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/6578859d.html" target="element">  </a> </td>
									           <td> <a href="../objects/6578859d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/66fb043a.html" target="element"> Atencion al Clinete  </a> </td>
											    <td> <a href="../elements/66fb043a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c7450dfa.html" target="element"> ESB-IBM </a> </td>
											    <td> <a href="../elements/c7450dfa.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9bbe7c4e.html" target="element"> Usuario Call Center </a> </td>
											    <td> <a href="../elements/9bbe7c4e.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/d3145810.html" target="element">  </a> </td>
									           <td> <a href="../objects/d3145810.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/59e61089.html" target="element">  </a> </td>
									           <td> <a href="../objects/59e61089.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/b793764e.html" target="element">  </a> </td>
									           <td> <a href="../objects/b793764e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/a20c9812.html" target="element">  </a> </td>
									           <td> <a href="../objects/a20c9812.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/890b56f5.html" target="element">  </a> </td>
									           <td> <a href="../objects/890b56f5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/020c0d3e.html" target="element"> Confronta </a> </td>
											    <td> <a href="../elements/020c0d3e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/ef05af7a.html" target="element">  </a> </td>
									           <td> <a href="../objects/ef05af7a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/4ec4bc3f.html" target="element">  </a> </td>
									           <td> <a href="../objects/4ec4bc3f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/de40974a.html" target="element">  </a> </td>
									           <td> <a href="../objects/de40974a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/5551cb0f.html" target="element">  </a> </td>
									           <td> <a href="../objects/5551cb0f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/06a275a5.html" target="element"> Cobis  </a> </td>
											    <td> <a href="../elements/06a275a5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b61f89e7.html" target="element"> Consultar referncias Juridicas  </a> </td>
													    <td> <a href="../elements/b61f89e7.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b9585d3a.html" target="element"> Consultar referncias Juridicas  (copy) </a> </td>
											    <td> <a href="../elements/b9585d3a.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d683956a.html" target="element"> Vigia  </a> </td>
											    <td> <a href="../elements/d683956a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0e9d318c.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e9d318c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/90d66569.html" target="element"> Portal Web </a> </td>
																		<td> <a href="../elements/b94000e4.html" target="element"> DB </a> </td>
																	</tr>

													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											
																	<tr>
																		<td> <a href="../elements/3ff39786.html" target="element">  </a> </td>
																		<td> <a href="../elements/3ff39786.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/8fed0d7b.html" target="element"> Consumidor Financiero/Usuario Web </a> </td>
																		<td> <a href="../elements/90d66569.html" target="element"> Portal Web </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/57eeb784.html" target="element">  </a> </td>
																		<td> <a href="../elements/57eeb784.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/9bbe7c4e.html" target="element"> Usuario Call Center </a> </td>
																		<td> <a href="../elements/90d66569.html" target="element"> Portal Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cefa11ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/cefa11ce.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/9bbe7c4e.html" target="element"> Usuario Call Center </a> </td>
																		<td> <a href="../elements/8fed0d7b.html" target="element"> Consumidor Financiero/Usuario Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ad918f43.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad918f43.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/9bbe7c4e.html" target="element"> Usuario Call Center </a> </td>
																		<td> <a href="../elements/020c0d3e.html" target="element"> Confronta </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>