<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Riesgo. Modelo de riesgo. 1. Riesgo Modelo</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Riesgo. Modelo de riesgo. 1. Riesgo Modelo</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-88a01dcd88ae43549b438805731c01cb.png" alt="Riesgo. Modelo de riesgo. 1. Riesgo Modelo" usemap="#id-88a01dcd88ae43549b438805731c01cbmap"/>
			   <map name="id-88a01dcd88ae43549b438805731c01cbmap">
				  		<area shape="rect" coords="1172,956,1412,1066" href="../elements/id-eee5d60ddf8947929ede0f5a75e7fe31.html"  target="element">
				  		<area shape="rect" coords="1124,908,1364,1018" href="../elements/id-3774d90d9bb14363ac3d01124a85bf7d.html"  target="element">
				  		<area shape="rect" coords="1086,878,1326,988" href="../elements/id-90c2da8a47a948b4a85ede51d21c1190.html"  target="element">
				  		<area shape="rect" coords="1486,620,1776,730" href="../elements/id-0bd26f450cae45ce800af1acee48547d.html"  target="element">
				  				<area shape="rect" coords="452,1268,740,1378" href="../elements/id-2c5af4ee94e7427aaa8ff25deaf2ad5b.html"  target="element">
				  				<area shape="rect" coords="452,1124,740,1234" href="../elements/id-2b1a47a9d2174551bb4fd4aa4e40597a.html"  target="element">
				  				<area shape="rect" coords="44,1268,332,1378" href="../elements/id-4122c5b7bbb643b2b4fbf177cfdea1a6.html"  target="element">
				  				<area shape="rect" coords="44,1124,332,1234" href="../elements/id-79cc661c79af4cd1b36824f52fff9c59.html"  target="element">
				  				<area shape="rect" coords="44,1412,332,1522" href="../elements/id-aba464726c7a4f4eac6717b32a63dd1d.html"  target="element">
				  				<area shape="rect" coords="68,1148,356,1258" href="../elements/id-2c3de7f63cf945e29ff4a058ca7881ae.html"  target="element">
				  				<area shape="rect" coords="68,1292,356,1402" href="../elements/id-f1c6a8dda41848f2b447c2edf6c014ee.html"  target="element">
				  				<area shape="rect" coords="68,1436,356,1546" href="../elements/id-f3a86f8931c543aa94702ab2b3f25afc.html"  target="element">

				  		<area shape="rect" coords="20,1052,796,1628" href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html"  target="element">
				  		<area shape="rect" coords="1078,308,1368,418" href="../elements/id-af031a700eef46f092aa488cf4d33443.html"  target="element">
				  		<area shape="rect" coords="1076,620,1366,730" href="../elements/id-28bd26e9b2964a629c4a4a75412d4745.html"  target="element">
				  		<area shape="rect" coords="474,620,762,730" href="../elements/id-b52c457dbbed4cf1b82088f460d1bea5.html"  target="element">
				  		<area shape="rect" coords="500,308,740,418" href="../elements/id-80ef6495783345b78865a875a3a5811b.html"  target="element">
				  		<area shape="rect" coords="22,308,262,418" href="../elements/id-8f22b253526e432bbe4c9434875d41ca.html"  target="element">
				          <area shape="rect" coords="20,20,454,252" href="../objects/id-c3b6261b71a44e3193cabe30aa4cae30.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-c3b6261b71a44e3193cabe30aa4cae30.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c3b6261b71a44e3193cabe30aa4cae30.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-8f22b253526e432bbe4c9434875d41ca.html" target="element"> Agente de riesgo </a> </td>
											    <td> <a href="../elements/id-8f22b253526e432bbe4c9434875d41ca.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-80ef6495783345b78865a875a3a5811b.html" target="element"> Evento riesgoso </a> </td>
											    <td> <a href="../elements/id-80ef6495783345b78865a875a3a5811b.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b52c457dbbed4cf1b82088f460d1bea5.html" target="element"> Vulnerabilidad </a> </td>
											    <td> <a href="../elements/id-b52c457dbbed4cf1b82088f460d1bea5.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28bd26e9b2964a629c4a4a75412d4745.html" target="element"> Valoraci&#243;n del Riesgo </a> </td>
											    <td> <a href="../elements/id-28bd26e9b2964a629c4a4a75412d4745.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af031a700eef46f092aa488cf4d33443.html" target="element"> Interesado del riesgo </a> </td>
											    <td> <a href="../elements/id-af031a700eef46f092aa488cf4d33443.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html" target="element"> Elementos en riesgo </a> </td>
											    <td> <a href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f3a86f8931c543aa94702ab2b3f25afc.html" target="element"> Plan de capacidad </a> </td>
													    <td> <a href="../elements/id-f3a86f8931c543aa94702ab2b3f25afc.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f1c6a8dda41848f2b447c2edf6c014ee.html" target="element"> Requerimiento de plan de riesgo </a> </td>
													    <td> <a href="../elements/id-f1c6a8dda41848f2b447c2edf6c014ee.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c3de7f63cf945e29ff4a058ca7881ae.html" target="element"> Elemento de arquitectura </a> </td>
													    <td> <a href="../elements/id-2c3de7f63cf945e29ff4a058ca7881ae.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aba464726c7a4f4eac6717b32a63dd1d.html" target="element"> Plan de capacidad </a> </td>
													    <td> <a href="../elements/id-aba464726c7a4f4eac6717b32a63dd1d.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-79cc661c79af4cd1b36824f52fff9c59.html" target="element"> Elemento de arquitectura </a> </td>
													    <td> <a href="../elements/id-79cc661c79af4cd1b36824f52fff9c59.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4122c5b7bbb643b2b4fbf177cfdea1a6.html" target="element"> Requerimiento de plan de riesgo </a> </td>
													    <td> <a href="../elements/id-4122c5b7bbb643b2b4fbf177cfdea1a6.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2b1a47a9d2174551bb4fd4aa4e40597a.html" target="element"> Servicio de negocio </a> </td>
													    <td> <a href="../elements/id-2b1a47a9d2174551bb4fd4aa4e40597a.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2c5af4ee94e7427aaa8ff25deaf2ad5b.html" target="element"> Medida de control </a> </td>
													    <td> <a href="../elements/id-2c5af4ee94e7427aaa8ff25deaf2ad5b.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0bd26f450cae45ce800af1acee48547d.html" target="element"> Objetivos del control del riesgo </a> </td>
											    <td> <a href="../elements/id-0bd26f450cae45ce800af1acee48547d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-90c2da8a47a948b4a85ede51d21c1190.html" target="element"> Impactos </a> </td>
											    <td> <a href="../elements/id-90c2da8a47a948b4a85ede51d21c1190.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3774d90d9bb14363ac3d01124a85bf7d.html" target="element"> Impactos </a> </td>
											    <td> <a href="../elements/id-3774d90d9bb14363ac3d01124a85bf7d.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eee5d60ddf8947929ede0f5a75e7fe31.html" target="element"> Impactos </a> </td>
											    <td> <a href="../elements/id-eee5d60ddf8947929ede0f5a75e7fe31.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-f54e29ae78144fa0b183983327bbd8fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f54e29ae78144fa0b183983327bbd8fd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-80ef6495783345b78865a875a3a5811b.html" target="element"> Evento riesgoso </a> </td>
																		<td> <a href="../elements/id-8f22b253526e432bbe4c9434875d41ca.html" target="element"> Agente de riesgo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1b352e5e23d346dcb2f547c31e25fa21.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1b352e5e23d346dcb2f547c31e25fa21.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-b52c457dbbed4cf1b82088f460d1bea5.html" target="element"> Vulnerabilidad </a> </td>
																		<td> <a href="../elements/id-28bd26e9b2964a629c4a4a75412d4745.html" target="element"> Valoraci&#243;n del Riesgo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e4874b4efeb47b2a29d7c5b3ff21781.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e4874b4efeb47b2a29d7c5b3ff21781.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-b52c457dbbed4cf1b82088f460d1bea5.html" target="element"> Vulnerabilidad </a> </td>
																		<td> <a href="../elements/id-80ef6495783345b78865a875a3a5811b.html" target="element"> Evento riesgoso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-54d2851f51de4ba3806813bcd57aee4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54d2851f51de4ba3806813bcd57aee4a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-28bd26e9b2964a629c4a4a75412d4745.html" target="element"> Valoraci&#243;n del Riesgo </a> </td>
																		<td> <a href="../elements/id-af031a700eef46f092aa488cf4d33443.html" target="element"> Interesado del riesgo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a6ef004829324674973e577ce91e0b83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6ef004829324674973e577ce91e0b83.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-28bd26e9b2964a629c4a4a75412d4745.html" target="element"> Valoraci&#243;n del Riesgo </a> </td>
																		<td> <a href="../elements/id-0bd26f450cae45ce800af1acee48547d.html" target="element"> Objetivos del control del riesgo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-75068de2f5fe4209b3ecd5247f47588c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75068de2f5fe4209b3ecd5247f47588c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-28bd26e9b2964a629c4a4a75412d4745.html" target="element"> Valoraci&#243;n del Riesgo </a> </td>
																		<td> <a href="../elements/id-90c2da8a47a948b4a85ede51d21c1190.html" target="element"> Impactos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b2a4667b9ad44460a27e2759c1390306.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b2a4667b9ad44460a27e2759c1390306.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-28bd26e9b2964a629c4a4a75412d4745.html" target="element"> Valoraci&#243;n del Riesgo </a> </td>
																		<td> <a href="../elements/id-3774d90d9bb14363ac3d01124a85bf7d.html" target="element"> Impactos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-563a91a3555743b6b150ef5ccfc09897.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-563a91a3555743b6b150ef5ccfc09897.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html" target="element"> Elementos en riesgo </a> </td>
																		<td> <a href="../elements/id-aba464726c7a4f4eac6717b32a63dd1d.html" target="element"> Plan de capacidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-913176fb604748deb9ed508c47b3d35d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-913176fb604748deb9ed508c47b3d35d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html" target="element"> Elementos en riesgo </a> </td>
																		<td> <a href="../elements/id-79cc661c79af4cd1b36824f52fff9c59.html" target="element"> Elemento de arquitectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a6c88034d59544b39e42dd798545836c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a6c88034d59544b39e42dd798545836c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html" target="element"> Elementos en riesgo </a> </td>
																		<td> <a href="../elements/id-4122c5b7bbb643b2b4fbf177cfdea1a6.html" target="element"> Requerimiento de plan de riesgo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d0b3fb3d0779467db311868bb715f25f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0b3fb3d0779467db311868bb715f25f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html" target="element"> Elementos en riesgo </a> </td>
																		<td> <a href="../elements/id-2c3de7f63cf945e29ff4a058ca7881ae.html" target="element"> Elemento de arquitectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59ecc959019746298dad30ac7e806bb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59ecc959019746298dad30ac7e806bb9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html" target="element"> Elementos en riesgo </a> </td>
																		<td> <a href="../elements/id-f1c6a8dda41848f2b447c2edf6c014ee.html" target="element"> Requerimiento de plan de riesgo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0e9e49d58794c84991610ee3dfa1cd6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0e9e49d58794c84991610ee3dfa1cd6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html" target="element"> Elementos en riesgo </a> </td>
																		<td> <a href="../elements/id-f3a86f8931c543aa94702ab2b3f25afc.html" target="element"> Plan de capacidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d7c1001e5144ae1a56f1ac276f25581.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d7c1001e5144ae1a56f1ac276f25581.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html" target="element"> Elementos en riesgo </a> </td>
																		<td> <a href="../elements/id-2c5af4ee94e7427aaa8ff25deaf2ad5b.html" target="element"> Medida de control </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-520ba22caa474abbbba5c44952ada1ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-520ba22caa474abbbba5c44952ada1ed.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-45a88813a2554dd4a2dff94c5ae6bda3.html" target="element"> Elementos en riesgo </a> </td>
																		<td> <a href="../elements/id-2b1a47a9d2174551bb4fd4aa4e40597a.html" target="element"> Servicio de negocio </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-83a54e8d5658479cb73d3cb4996774ae.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-83a54e8d5658479cb73d3cb4996774ae.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-aba464726c7a4f4eac6717b32a63dd1d.html" target="element"> Plan de capacidad </a> </td>
																				<td> <a href="../elements/id-b52c457dbbed4cf1b82088f460d1bea5.html" target="element"> Vulnerabilidad </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-92ce93420c7a4937b58617c0cf10eff0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-92ce93420c7a4937b58617c0cf10eff0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-79cc661c79af4cd1b36824f52fff9c59.html" target="element"> Elemento de arquitectura </a> </td>
																				<td> <a href="../elements/id-b52c457dbbed4cf1b82088f460d1bea5.html" target="element"> Vulnerabilidad </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-00c81f83249b4d19b5136f6faabff225.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-00c81f83249b4d19b5136f6faabff225.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-4122c5b7bbb643b2b4fbf177cfdea1a6.html" target="element"> Requerimiento de plan de riesgo </a> </td>
																				<td> <a href="../elements/id-b52c457dbbed4cf1b82088f460d1bea5.html" target="element"> Vulnerabilidad </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-dc1923941237476a9bee2b5424c2f6cc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc1923941237476a9bee2b5424c2f6cc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-2b1a47a9d2174551bb4fd4aa4e40597a.html" target="element"> Servicio de negocio </a> </td>
																				<td> <a href="../elements/id-79cc661c79af4cd1b36824f52fff9c59.html" target="element"> Elemento de arquitectura </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1319b5e3cb4d49879ef7e5d647168966.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1319b5e3cb4d49879ef7e5d647168966.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																				<td> <a href="../elements/id-2c5af4ee94e7427aaa8ff25deaf2ad5b.html" target="element"> Medida de control </a> </td>
																				<td> <a href="../elements/id-4122c5b7bbb643b2b4fbf177cfdea1a6.html" target="element"> Requerimiento de plan de riesgo </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d32ce7968d99466ba49217dbb8cd5d0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d32ce7968d99466ba49217dbb8cd5d0d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-eee5d60ddf8947929ede0f5a75e7fe31.html" target="element"> Impactos </a> </td>
																		<td> <a href="../elements/id-28bd26e9b2964a629c4a4a75412d4745.html" target="element"> Valoraci&#243;n del Riesgo </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>