<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Aplicaciones_FNA_TOBE_Procesos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Aplicaciones_FNA_TOBE_Procesos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f0c245f8.png" alt="Aplicaciones_FNA_TOBE_Procesos" usemap="#f0c245f8map"/>
			   <map name="f0c245f8map">
				  				<area shape="rect" coords="932,1152,1172,1262" href="../elements/18988896.html"  target="element">

				          <area shape="rect" coords="908,1080,1708,1346" href="../objects/bf3f3bef.html" target="element" >
				  						<area shape="rect" coords="596,1224,836,1334" href="../elements/4102ad2e.html"  target="element">

				  				<area shape="rect" coords="524,1176,862,1466" href="../elements/1a6fce16.html"  target="element">
				  				<area shape="rect" coords="44,1320,284,1430" href="../elements/ed18d973.html"  target="element">
				  				<area shape="rect" coords="44,1176,284,1286" href="../elements/8f2362a9.html"  target="element">

				          <area shape="rect" coords="20,1080,878,1490" href="../objects/58cbd1c9.html" target="element" >
				  				<area shape="rect" coords="1148,864,1388,974" href="../elements/55d7bed5.html"  target="element">
				  				<area shape="rect" coords="644,850,884,960" href="../elements/4a05e890.html"  target="element">
				  				<area shape="rect" coords="380,850,620,960" href="../elements/e869ddc9.html"  target="element">
				  				<area shape="rect" coords="44,840,284,950" href="../elements/1830452e.html"  target="element">

				          <area shape="rect" coords="20,744,2046,1024" href="../objects/30dd94b8.html" target="element" >
				  								<area shape="rect" coords="148,140,388,250" href="../elements/4fe88e0d.html"  target="element">

				  						<area shape="rect" coords="124,116,798,262" href="../elements/03b47358.html"  target="element">
				  						<area shape="rect" coords="1540,356,1780,466" href="../elements/54065f7e.html"  target="element">
				  						<area shape="rect" coords="1276,188,1516,298" href="../elements/2b887ba9.html"  target="element">
				  								<area shape="rect" coords="1084,524,1324,634" href="../elements/7fa44892.html"  target="element">

				  						<area shape="rect" coords="1012,476,1422,670" href="../elements/8ca9f4e4.html"  target="element">
				  						<area shape="rect" coords="1038,308,1278,418" href="../elements/f8ff3536.html"  target="element">
				  								<area shape="rect" coords="676,356,916,466" href="../elements/965ee346.html"  target="element">
				  								<area shape="rect" coords="412,356,652,466" href="../elements/54ab940e.html"  target="element">
				  								<area shape="rect" coords="148,356,388,466" href="../elements/a25efa05.html"  target="element">

				  						<area shape="rect" coords="124,284,942,478" href="../elements/8831065e.html"  target="element">

				  				<area shape="rect" coords="76,92,1950,694" href="../elements/69777eb0.html"  target="element">

				          <area shape="rect" coords="28,20,2046,722" href="../objects/9b2ac35f.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/9b2ac35f.html" target="element"> Procesos de Neogcio </a> </td>
									           <td> <a href="../objects/9b2ac35f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
													    <td> <a href="../elements/69777eb0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
															    <td> <a href="../elements/8831065e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/a25efa05.html" target="element"> Gesti&#243;n de Prospectos </a> </td>
																	    <td> <a href="../elements/a25efa05.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/54ab940e.html" target="element"> Gesti&#243;n de Oportunidades </a> </td>
																	    <td> <a href="../elements/54ab940e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/965ee346.html" target="element"> Gesti&#243;n de Clientes </a> </td>
																	    <td> <a href="../elements/965ee346.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
															    <td> <a href="../elements/f8ff3536.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
															    <td> <a href="../elements/8ca9f4e4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/7fa44892.html" target="element"> Evaluaci&#243;n de Score </a> </td>
																	    <td> <a href="../elements/7fa44892.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
															    <td> <a href="../elements/2b887ba9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
															    <td> <a href="../elements/54065f7e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/03b47358.html" target="element"> Mercadeo </a> </td>
															    <td> <a href="../elements/03b47358.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/4fe88e0d.html" target="element"> Gesti&#243;n de Campa&#241;as </a> </td>
																	    <td> <a href="../elements/4fe88e0d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/30dd94b8.html" target="element"> External Application Services </a> </td>
									           <td> <a href="../objects/30dd94b8.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/1830452e.html" target="element"> SVC 051 Consulta Listas Inhibitorias </a> </td>
													    <td> <a href="../elements/1830452e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e869ddc9.html" target="element"> CND 001 Obtener Puntaje Score </a> </td>
													    <td> <a href="../elements/e869ddc9.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4a05e890.html" target="element"> CND 002 Obtener Detalle Score </a> </td>
													    <td> <a href="../elements/4a05e890.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/55d7bed5.html" target="element"> SVC 044 Cliente Persona Natural Crear </a> </td>
													    <td> <a href="../elements/55d7bed5.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/58cbd1c9.html" target="element"> Aplicaciones Core / Backend </a> </td>
									           <td> <a href="../objects/58cbd1c9.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/8f2362a9.html" target="element"> Vigia </a> </td>
													    <td> <a href="../elements/8f2362a9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ed18d973.html" target="element"> Scoring </a> </td>
													    <td> <a href="../elements/ed18d973.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1a6fce16.html" target="element"> COBIS- Monoliticos </a> </td>
													    <td> <a href="../elements/1a6fce16.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/4102ad2e.html" target="element"> Clientes </a> </td>
															    <td> <a href="../elements/4102ad2e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/bf3f3bef.html" target="element"> Aplicaciones Front / End </a> </td>
									           <td> <a href="../objects/bf3f3bef.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
													    <td> <a href="../elements/18988896.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/4b37317a.html" target="element">  </a> </td>
																				<td> <a href="../elements/4b37317a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																				<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/33da8d44.html" target="element">  </a> </td>
																				<td> <a href="../elements/33da8d44.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																				<td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/99b7d219.html" target="element">  </a> </td>
																				<td> <a href="../elements/99b7d219.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																				<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5e998b43.html" target="element">  </a> </td>
																				<td> <a href="../elements/5e998b43.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																				<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/38f4f8f0.html" target="element">  </a> </td>
																				<td> <a href="../elements/38f4f8f0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																				<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/dca7e386.html" target="element">  </a> </td>
																						<td> <a href="../elements/dca7e386.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																						<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/5f4c1f67.html" target="element">  </a> </td>
																						<td> <a href="../elements/5f4c1f67.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																						<td> <a href="../elements/a25efa05.html" target="element"> Gesti&#243;n de Prospectos </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/44ca5e4f.html" target="element">  </a> </td>
																						<td> <a href="../elements/44ca5e4f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																						<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/c7aae690.html" target="element">  </a> </td>
																						<td> <a href="../elements/c7aae690.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																						<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/9462c6d8.html" target="element">  </a> </td>
																						<td> <a href="../elements/9462c6d8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																						<td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/77c1a524.html" target="element">  </a> </td>
																						<td> <a href="../elements/77c1a524.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																						<td> <a href="../elements/03b47358.html" target="element"> Mercadeo </a> </td>
																						<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																					</tr>

															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/6b3d35f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/6b3d35f5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/8f2362a9.html" target="element"> Vigia </a> </td>
																				<td> <a href="../elements/1830452e.html" target="element"> SVC 051 Consulta Listas Inhibitorias </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/608b43c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/608b43c6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ed18d973.html" target="element"> Scoring </a> </td>
																				<td> <a href="../elements/e869ddc9.html" target="element"> CND 001 Obtener Puntaje Score </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bf8d649c.html" target="element">  </a> </td>
																				<td> <a href="../elements/bf8d649c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/ed18d973.html" target="element"> Scoring </a> </td>
																				<td> <a href="../elements/4a05e890.html" target="element"> CND 002 Obtener Detalle Score </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/dfa0154d.html" target="element">  </a> </td>
																				<td> <a href="../elements/dfa0154d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/1a6fce16.html" target="element"> COBIS- Monoliticos </a> </td>
																				<td> <a href="../elements/4102ad2e.html" target="element"> Clientes </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/cd54bdd9.html" target="element">  </a> </td>
																						<td> <a href="../elements/cd54bdd9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/4102ad2e.html" target="element"> Clientes </a> </td>
																						<td> <a href="../elements/55d7bed5.html" target="element"> SVC 044 Cliente Persona Natural Crear </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/f404df64.html" target="element">  </a> </td>
																				<td> <a href="../elements/f404df64.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																				<td> <a href="../elements/7fa44892.html" target="element"> Evaluaci&#243;n de Score </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0043f00b.html" target="element">  </a> </td>
																				<td> <a href="../elements/0043f00b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																				<td> <a href="../elements/4a05e890.html" target="element"> CND 002 Obtener Detalle Score </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a7e2348f.html" target="element">  </a> </td>
																				<td> <a href="../elements/a7e2348f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																				<td> <a href="../elements/e869ddc9.html" target="element"> CND 001 Obtener Puntaje Score </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2f47fc86.html" target="element">  </a> </td>
																				<td> <a href="../elements/2f47fc86.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																				<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/755b2547.html" target="element">  </a> </td>
																				<td> <a href="../elements/755b2547.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																				<td> <a href="../elements/55d7bed5.html" target="element"> SVC 044 Cliente Persona Natural Crear </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d35790d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/d35790d8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																				<td> <a href="../elements/1830452e.html" target="element"> SVC 051 Consulta Listas Inhibitorias </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>