<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Proyecto SOA. Vista Segmento Fase 1.1</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Proyecto SOA. Vista Segmento Fase 1.1</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c43c2b3d076642348722d82aded4da5e.png" alt="Proyecto SOA. Vista Segmento Fase 1.1" usemap="#id-c43c2b3d076642348722d82aded4da5emap"/>
			   <map name="id-c43c2b3d076642348722d82aded4da5emap">
				  		<area shape="rect" coords="984,1004,1224,1114" href="../elements/18988896.html"  target="element">
				  		<area shape="rect" coords="984,1208,1224,1318" href="../elements/6a62b5cb.html"  target="element">
				  		<area shape="rect" coords="326,1316,566,1426" href="../elements/4a05e890.html"  target="element">
				  		<area shape="rect" coords="328,1160,568,1270" href="../elements/e869ddc9.html"  target="element">
				  		<area shape="rect" coords="330,1004,570,1114" href="../elements/6bf248dc.html"  target="element">
				  		<area shape="rect" coords="628,1004,868,1114" href="../elements/1a6fce16.html"  target="element">
				  		<area shape="rect" coords="1388,220,1628,330" href="../elements/54065f7e.html"  target="element">
				  		<area shape="rect" coords="1292,1004,1532,1114" href="../elements/ed18d973.html"  target="element">
				  		<area shape="rect" coords="1390,20,1630,130" href="../elements/2b887ba9.html"  target="element">
				  		<area shape="rect" coords="1580,1004,1820,1114" href="../elements/e63f8a1b.html"  target="element">
				  		<area shape="rect" coords="1388,404,1628,514" href="../elements/7fa44892.html"  target="element">
				  		<area shape="rect" coords="764,20,1004,130" href="../elements/8ca9f4e4.html"  target="element">
				  		<area shape="rect" coords="20,1004,260,1114" href="../elements/5f604a98.html"  target="element">
				  		<area shape="rect" coords="1076,20,1316,130" href="../elements/f8ff3536.html"  target="element">
				  		<area shape="rect" coords="440,220,680,330" href="../elements/8831065e.html"  target="element">
				  		<area shape="rect" coords="140,220,380,330" href="../elements/f77894bd.html"  target="element">
				  		<area shape="rect" coords="20,1160,260,1270" href="../elements/65bd3f16.html"  target="element">
				  		<area shape="rect" coords="440,20,680,130" href="../elements/fbd83d24.html"  target="element">
				  		<area shape="rect" coords="140,20,380,130" href="../elements/69777eb0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">|Tema|Vista de Segmento: Partes de la empresa FNA selecionados por su relaci&#243;n con la Vista de Contexto
|----|-------------------------------------------|
|Palabras clave|SOA, Contexto, Segmento FNA, &#193;reas, Procesos, Aplicaciones, Servicios
|Autor||
|Fuente||
|Version|${TRIGGERING_SHA_7} del $FECHA_COMPILACION|
|V&#237;nculos|[Vista de Contexto](onenote:#N003a.%20Procesos%20de%20Negocio%20FNA&amp;section-id={F3AC64B8-D6FF-47C7-ABBE-A2B4B6510F0F}&amp;page-id={DAE4ECE3-B936-461D-A468-83492014F7F7}&amp;end&amp;base-path=https://uniandes-my.sharepoint.com/personal/ha_wong10_uniandes_edu_co/Documents/Blocs%20de%20notas/Harry%20Alfredo%20@%20Work/SOA/Trabajo%20SOA.one); [N003a. Procesos de Negocio FNA](onenote:#N003a.%20Procesos%20de%20Negocio%20FNA&amp;section-id={F3AC64B8-D6FF-47C7-ABBE-A2B4B6510F0F}&amp;page-id={DAE4ECE3-B936-461D-A468-83492014F7F7}&amp;end&amp;base-path=https://uniandes-my.sharepoint.com/personal/ha_wong10_uniandes_edu_co/Documents/Blocs%20de%20notas/Harry%20Alfredo%20@%20Work/SOA/Trabajo%20SOA.one)|
|||

# Vista Segmento SOA FNA 181-2020

La vista de segmento presenta la lista de las partes seleccionadas de la empresa que ser&#225;n objeto de esta consultor&#237;a (proyecto 181-2020) y sobre las que se desarrollar&#225;n los procesos de an&#225;lisis, brecha, hoja de ruta, y dem&#225;s de esta consultor&#237;a. Es una lista filtrada de todas las partes de la empresa, y por tanto, *esta vista define el alcance horizontal del diagn&#243;stico SOA*.

## Partes de la Empresa FNA Objeto del Diagn&#243;stico SOA

Estas partes han sido seleccionadas por tener relaci&#243;n directa con los elementos de la vista de contexto (Ver Vista de Contexto), lo cual significa que estas partes est&#225;n vinculadas, o bien con alguno de los productos de negocio o con alguno de los procesos de negocio, o con los dem&#225;s elementos de la vista de contexto. 

    La "Aplicaci&#243;n Web Gesti&#243;n Traslado" ha sido seleccionada como parte de la empresa FNA por su relaci&#243;n con el proceso de negocio "Aporte Cesant&#237;as". A su vez, el proceso de negocio "Aporte Cesant&#237;as" tiene que ver directamente con uno de los cuatro (4) productos de la vista de contexto: Cesant&#237;as. 
    
    Esto explica porqu&#233; la aplicaci&#243;n indicada ha sido seleccionada por el segmento de la empresa FNA objeto del diagn&#243;stico.



Las partes de la empresa que conforman el segmento FNA a diagnosticar.

![](images/FNA_Arquitectura-VistaSegmentoSOAFNA181-2020.png)

* [Aporte Censatias (Business Process)](#aporte-censatias-business-process)
* [Administraci&#243;n de Cuentas  y Pago (Business Process)](#administraci&#243;n-de-cuentas--y-pago-business-process)
* [Gesti&#243;n Comercial (Business Process)](#gesti&#243;n-comercial-business-process)
* [Gesti&#243;n de Credito (Business Process)](#gesti&#243;n-de-credito-business-process)
* [Educativo (Business Process)](#educativo-business-process)
* [Procesos Misionales (Business Process)](#procesos-misionales-business-process)
* [Hipotecario (Business Process)](#hipotecario-business-process)
* [Cesantias (Business Process)](#cesantias-business-process)
* [Desembolso (Business Process)](#desembolso-business-process)
* [Facturaci&#243;n y Cartera (Business Process)](#facturaci&#243;n-y-cartera-business-process)
* [Ahorro Voluntario (Business Process)](#ahorro-voluntario-business-process)
* [Captaci&#243;n de Ahorro Voluntario (Business Process)](#captaci&#243;n-de-ahorro-voluntario-business-process)
* [Aplicaci&#243;n ScriptPortlet - Planilla de Consignaci&#243;n (Application Component)](#aplicaci&#243;n-scriptportlet---planilla-de-consignaci&#243;n-application-component)
* [Aplicaci&#243;n Web - Gesti&#243;n Traslado (Application Component)](#aplicaci&#243;n-web---gesti&#243;n-traslado-application-component)
* [COBIS - Cesantias (Application Component)](#cobis---cesantias-application-component)
* [Aplicaci&#243;n Back - Bizagi Engine (Application Component)](#aplicaci&#243;n-back---bizagi-engine-application-component)
* [Aplicaci&#243;n EJB - Credito Constructor  (Application Component)](#aplicaci&#243;n-ejb---credito-constructor--application-component)
* [Aplicaci&#243;n Web - Cr&#233;dito Constructor (Application Component)](#aplicaci&#243;n-web---cr&#233;dito-constructor-application-component)
* [Aplicaci&#243;n Web - Scoring (Application Component)](#aplicaci&#243;n-web---scoring-application-component)
* [BIZAGI (Application Component)](#bizagi-application-component)
* [COBIS - Cr&#233;dito (Application Component)](#cobis---cr&#233;dito-application-component)
* [Servicios Score (Technology Service)](#servicios-score-technology-service)
* [COBIS - Cartera (Application Component)](#cobis---cartera-application-component)
* [COBIS - AVC (Application Component)](#cobis---avc-application-component)
* [Servicios de Infraestructura (Technology Service)](#servicios-de-infraestructura-technology-service)
* [Transunion (Node)](#transunion-node)

&lt;br&gt;

**Nota**: si hay partes que hacen faltan en la vista de segmento es debido a que estas carecen de relaciones en los modelos del repositorio de la empresa tal que permitan identificar su grado de cercan&#237;a. Para que aparezcan en la vista de segmento es necesario actualizar los modelos de la empresa, como por ejemplo, los modelos de negocio, procesos, servicios, aplicaciones e infraestructura.

***

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
											    <td> <a href="../elements/69777eb0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fbd83d24.html" target="element"> Aportes de Cesant&#237;as </a> </td>
											    <td> <a href="../elements/fbd83d24.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/65bd3f16.html" target="element"> Cesantias </a> </td>
											    <td> <a href="../elements/65bd3f16.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
											    <td> <a href="../elements/f77894bd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
											    <td> <a href="../elements/8831065e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
											    <td> <a href="../elements/f8ff3536.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5f604a98.html" target="element"> AVC </a> </td>
											    <td> <a href="../elements/5f604a98.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
											    <td> <a href="../elements/8ca9f4e4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7fa44892.html" target="element"> Evaluaci&#243;n de Score </a> </td>
											    <td> <a href="../elements/7fa44892.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e63f8a1b.html" target="element"> Tramites/Credito </a> </td>
											    <td> <a href="../elements/e63f8a1b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
											    <td> <a href="../elements/2b887ba9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ed18d973.html" target="element"> Scoring </a> </td>
											    <td> <a href="../elements/ed18d973.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
											    <td> <a href="../elements/54065f7e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1a6fce16.html" target="element"> COBIS- Monoliticos </a> </td>
											    <td> <a href="../elements/1a6fce16.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6bf248dc.html" target="element"> Biometria </a> </td>
											    <td> <a href="../elements/6bf248dc.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e869ddc9.html" target="element"> CND 001 Obtener Puntaje Score </a> </td>
											    <td> <a href="../elements/e869ddc9.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4a05e890.html" target="element"> CND 002 Obtener Detalle Score </a> </td>
											    <td> <a href="../elements/4a05e890.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6a62b5cb.html" target="element"> CIFIN </a> </td>
											    <td> <a href="../elements/6a62b5cb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
											    <td> <a href="../elements/18988896.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/8762703c.html" target="element">  </a> </td>
																		<td> <a href="../elements/8762703c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/fbd83d24.html" target="element"> Aportes de Cesant&#237;as </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2f621fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2f621fe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4b37317a.html" target="element">  </a> </td>
																		<td> <a href="../elements/4b37317a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/38f4f8f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/38f4f8f0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5e998b43.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e998b43.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/99b7d219.html" target="element">  </a> </td>
																		<td> <a href="../elements/99b7d219.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/33da8d44.html" target="element">  </a> </td>
																		<td> <a href="../elements/33da8d44.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/69777eb0.html" target="element"> Procesos Misionales </a> </td>
																		<td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/857eb166.html" target="element">  </a> </td>
																		<td> <a href="../elements/857eb166.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/fbd83d24.html" target="element"> Aportes de Cesant&#237;as </a> </td>
																		<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f94247cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/f94247cf.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/65bd3f16.html" target="element"> Cesantias </a> </td>
																		<td> <a href="../elements/fbd83d24.html" target="element"> Aportes de Cesant&#237;as </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/33cf3493.html" target="element">  </a> </td>
																		<td> <a href="../elements/33cf3493.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fbceb8e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/fbceb8e7.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																		<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/be07f0e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/be07f0e1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																		<td> <a href="../elements/fbd83d24.html" target="element"> Aportes de Cesant&#237;as </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/44ca5e4f.html" target="element">  </a> </td>
																		<td> <a href="../elements/44ca5e4f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																		<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dca7e386.html" target="element">  </a> </td>
																		<td> <a href="../elements/dca7e386.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/07de7303.html" target="element">  </a> </td>
																		<td> <a href="../elements/07de7303.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																		<td> <a href="../elements/f77894bd.html" target="element"> Administraci&#243;n de Cuentas  y Pago </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d4b824ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4b824ce.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/5f604a98.html" target="element"> AVC </a> </td>
																		<td> <a href="../elements/f8ff3536.html" target="element"> Captaci&#243;n de Ahorro Voluntario </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/14651385.html" target="element">  </a> </td>
																		<td> <a href="../elements/14651385.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																		<td> <a href="../elements/7fa44892.html" target="element"> Evaluaci&#243;n de Score </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c7aae690.html" target="element">  </a> </td>
																		<td> <a href="../elements/c7aae690.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																		<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ddbc5f04.html" target="element">  </a> </td>
																		<td> <a href="../elements/ddbc5f04.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e63f8a1b.html" target="element"> Tramites/Credito </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3f4a3946.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f4a3946.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e63f8a1b.html" target="element"> Tramites/Credito </a> </td>
																		<td> <a href="../elements/ed18d973.html" target="element"> Scoring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fbc6fac5.html" target="element">  </a> </td>
																		<td> <a href="../elements/fbc6fac5.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e63f8a1b.html" target="element"> Tramites/Credito </a> </td>
																		<td> <a href="../elements/6bf248dc.html" target="element"> Biometria </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9462c6d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/9462c6d8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/2b887ba9.html" target="element"> Desembolso </a> </td>
																		<td> <a href="../elements/54065f7e.html" target="element"> Facturaci&#243;n y Cartera </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b7f84d6a.html" target="element">  </a> </td>
																		<td> <a href="../elements/b7f84d6a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/ed18d973.html" target="element"> Scoring </a> </td>
																		<td> <a href="../elements/8ca9f4e4.html" target="element"> Gesti&#243;n de Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/96698b8d.html" target="element">  </a> </td>
																		<td> <a href="../elements/96698b8d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/ed18d973.html" target="element"> Scoring </a> </td>
																		<td> <a href="../elements/e63f8a1b.html" target="element"> Tramites/Credito </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/608b43c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/608b43c6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ed18d973.html" target="element"> Scoring </a> </td>
																		<td> <a href="../elements/e869ddc9.html" target="element"> CND 001 Obtener Puntaje Score </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bf8d649c.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf8d649c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ed18d973.html" target="element"> Scoring </a> </td>
																		<td> <a href="../elements/4a05e890.html" target="element"> CND 002 Obtener Detalle Score </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d167dab9.html" target="element">  </a> </td>
																		<td> <a href="../elements/d167dab9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1a6fce16.html" target="element"> COBIS- Monoliticos </a> </td>
																		<td> <a href="../elements/5f604a98.html" target="element"> AVC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4cb6e9d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/4cb6e9d2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/1a6fce16.html" target="element"> COBIS- Monoliticos </a> </td>
																		<td> <a href="../elements/65bd3f16.html" target="element"> Cesantias </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/73b1eac8.html" target="element">  </a> </td>
																		<td> <a href="../elements/73b1eac8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/6bf248dc.html" target="element"> Biometria </a> </td>
																		<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d89d32ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/d89d32ea.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6a62b5cb.html" target="element"> CIFIN </a> </td>
																		<td> <a href="../elements/ed18d973.html" target="element"> Scoring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f404df64.html" target="element">  </a> </td>
																		<td> <a href="../elements/f404df64.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																		<td> <a href="../elements/7fa44892.html" target="element"> Evaluaci&#243;n de Score </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0043f00b.html" target="element">  </a> </td>
																		<td> <a href="../elements/0043f00b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																		<td> <a href="../elements/4a05e890.html" target="element"> CND 002 Obtener Detalle Score </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a7e2348f.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7e2348f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																		<td> <a href="../elements/e869ddc9.html" target="element"> CND 001 Obtener Puntaje Score </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2f47fc86.html" target="element">  </a> </td>
																		<td> <a href="../elements/2f47fc86.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/18988896.html" target="element"> CRM SalesForce </a> </td>
																		<td> <a href="../elements/8831065e.html" target="element"> Gesti&#243;n Comercial </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>